<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/layout}">
<div layout:fragment="content" style="text-align: center; display: flex; justify-content: center">
    <div th:replace="~{fragments/modal::modal('회원 정보 찾기','입력하신 정보와 일치하는 회원이<br>존재하지 않습니다.', '', 'notFound','simple')}"></div>
    <div th:replace="~{fragments/modal::modal('회원 정보 찾기','메일을 전송 중입니다.<br>잠시만 기다려주세요...', '', 'wait','simple')}"></div>
    <div th:replace="~{fragments/modal::modal('회원 정보 찾기','정보를 입력해주세요.', '', 'warning','simple')}"></div>
    <div th:replace="~{fragments/modal::modal('회원 정보 찾기','이메일 전송이 완료되었습니다.', '', 'success','simple')}"></div>
    <div class="findUserForm">
        <p>계정 정보 찾기</p>
        <div class="findUserTab">
            <button id="idBtn">
                아이디 찾기
            </button>
            <button id="pwdBtn">비밀번호 찾기</button>
        </div>
        <fieldset class="findUserRadio">
            <div>
                <label>
                    <input id="phoneRadio" type="radio" name="verifyType"
                           value="phone" checked>휴대전화로
                    인증</label>
            </div>
            <div>
                <label>
                    <input id="emailRadio" type="radio" name="verifyType" value="email">이메일로 인증</label>
            </div>
        </fieldset>
        <div class="findUserInput">
            <div id="phoneId">
                <p>등록된 휴대전화로 아이디 찾기</p>
                <hr>
                <div>
                    <input type="text" placeholder="등록된 휴대전화 (-없이)">
                    <button class="verifyPhone">인증번호 받기</button>
                </div>
                <div><input type="text" placeholder="인증번호 입력">
                    <button>확인</button>
                </div>
            </div>
            <div id="phonePwd">
                <p>등록된 휴대전화로 비밀번호 찾기</p>
                <hr>
                <div>
                    <input type="text" placeholder="아이디">
                </div>
                <div>
                    <input type="text" placeholder="등록된 휴대전화 (-없이)">
                    <button class="verifyPhone">인증번호 받기</button>
                </div>
                <div><input type="text" placeholder="인증번호 입력">
                    <button>확인</button>
                </div>
            </div>
            <div id="emailId">
                <p>등록된 이메일로 아이디 찾기</p>
                <hr>
                <div>
                    <input type="email" placeholder="등록된 이메일 주소">
                    <button>아이디 전송</button>
                </div>
            </div>
            <div id="emailPwd">
                <p>등록된 이메일로 임시 비밀번호 전송</p>
                <hr>
                <div>
                    <input type="text" placeholder="아이디">
                </div>
                <div>
                    <input type="email" placeholder="등록된 이메일 주소">
                    <button>임시 비밀번호 받기</button>
                </div>
            </div>
            <div
                    id="recaptcha-container"
                    class="justify-center flex"
            >
                <!-- Recaptcha Widget will be rendered here -->
            </div>
        </div>
    </div>
    <!-- 통신 관련 스크립트-->
    <script th:inline="javascript">
        const email = {
            async id(emailAddr) {
                showModal("wait")
                let result = await FETCH.post("/auth/mail/findId", {"email": emailAddr})
                closeModal("wait")
                if (result.status == 204) {
                    showModal("notFound")
                    return;
                }
                showModal("success")
            },
            async password(id, emailAddr) {
                showModal("wait")
                let result = await FETCH.post("/auth/mail/password", {"email": emailAddr, "id": id})
                closeModal("wait")
                if (result.status == 204) {
                    showModal("notFound")
                    return;
                }
                showModal("success")
            }
        }

        function showModal(type) {
            document.getElementById(type + "Modal").style.display = "flex"
        }

        function closeModal(type) {
            document.getElementById(type + "Modal").style.display = "none"
        }

        document.addEventListener("DOMContentLoaded", function () {
            const emailId = document.querySelector("#emailId");
            const emailPwd = document.querySelector("#emailPwd")
            const emailIdBtn = emailId.querySelector(":scope button")
            const emailIdInput = emailId.querySelector(":scope input");
            const emailPwdBtn = emailPwd.querySelector(":scope button");
            const emailPwdUserInput = emailPwd.querySelector(":scope input[type=text]");
            const emailPwdEmailInput = emailPwd.querySelector(":scope input[type=email]")
            emailIdBtn.addEventListener("click", () => {
                const value = emailIdInput.value;
                if (value == "") {
                    showModal("warning")
                    return;
                }
                email.id(emailIdInput.value)
            })
            emailPwdBtn.addEventListener("click", () => {
                const userValue = emailPwdUserInput.value;
                const emailValue = emailPwdEmailInput.value;
                if (userValue == "" || emailValue == "") {
                    showModal("warning")
                    return;
                }
                email.password(userValue, emailValue)
            })
        })

    </script>
    <script th:inline="javascript">
        const module = {};
        document.addEventListener("DOMContentLoaded", function () {
            let infoState = ""
            let typeState = ""
            resetState()
            const info = [[${info}]]
            const idBtn = document.querySelector("#idBtn")
            const pwdBtn = document.querySelector("#pwdBtn")
            const phoneRadio = document.querySelector("#phoneRadio")
            const emailRadio = document.querySelector("#emailRadio")

            const btns = document.querySelectorAll(".verifyPhone")
            for (let i = 0; i < btns.length; i++) {
                const id = btns[i].parentElement.parentElement.id;
                btns[i].addEventListener("click", () => makeVerify(btns[i], id))
            }
            idBtn.addEventListener("click", function () {
                pwdBtn.classList.remove("highlight")
                idBtn.classList.add("highlight")
                infoState = "Id"
                if (typeState == "") {
                    changeState("phoneId")
                } else {
                    changeState(typeState + infoState)
                }
            })
            pwdBtn.addEventListener("click", function () {
                idBtn.classList.remove("highlight")
                pwdBtn.classList.add("highlight")
                infoState = "Pwd"
                if (typeState == "") {
                    changeState("phonePwd")
                } else {
                    changeState(typeState + infoState)
                }
            })
            phoneRadio.addEventListener("change", function () {
                typeState = "phone"
                changeState(typeState + infoState)
            })
            emailRadio.addEventListener("change", function () {
                typeState = "email"
                changeState(typeState + infoState)
            })
            if (info == "pwd") {
                pwdBtn.dispatchEvent(new Event("click"))
            } else {
                idBtn.dispatchEvent(new Event("click"))
            }
            history.replaceState({}, null, location.pathname)
        })

        function changeState(state) {
            resetState()
            const phoneId = document.querySelector("#phoneId")
            const phonePwd = document.querySelector("#phonePwd")
            const emailId = document.querySelector("#emailId")
            const emailPwd = document.querySelector("#emailPwd")
            if (state == "phoneId") {
                phoneId.classList.remove("hide")
            } else if (state == "phonePwd") {
                phonePwd.classList.remove("hide")
            } else if (state == "emailId") {
                emailId.classList.remove("hide")
            } else if (state == "emailPwd") {
                emailPwd.classList.remove("hide")
            }
        }

        function resetState() {
            const phoneId = document.querySelector("#phoneId")
            const phonePwd = document.querySelector("#phonePwd")
            const emailId = document.querySelector("#emailId")
            const emailPwd = document.querySelector("#emailPwd")
            resetInput(emailId)
            resetInput(emailPwd)
            resetInput(phoneId)
            resetInput(phonePwd)
            emailId.classList.add("hide")
            emailPwd.classList.add("hide")
            phoneId.classList.add("hide")
            phonePwd.classList.add("hide")

        }

        function resetInput(element) {
            const input = element.querySelectorAll("input")
            for (let i = 0; i < input.length; i++) {
                input[i].value = ""
            }
        }
    </script>
    <script th:src="@{/js/fetch.js}"></script>
    <!--    <script type="module" src="/js/firebase.js"></script>-->
</div>