<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
    <title>로그인 | LUMIT</title>
</head>

<body>
<div class="userFormBg">
    <div class="userFormWrapper">
        <p>LUMIT</p>
        <form class="formContainer" th:action="@{/login}" method="post">
            <input type="text" name="username" autocomplete="username" placeholder="아이디를 입력해주세요."/>
            <div class="passwordWrapper">
                <input id="password" type="password" name="password" placeholder="비밀번호를 입력해주세요."
                       autocomplete="current-password"/>
                <div id="hide" onclick="togglePwd(event)"><i class="fa-regular fa-eye-slash"></i>
                </div>
                <div id="show" class="hide" onclick="togglePwd(event)"><i class="fa-regular fa-eye"></i></div>
            </div>
            <button type="submit">로그인</button>
        </form>

        <!-- kakao button -->
        <div class="text-center">
            <a href="https://kauth.kakao.com/oauth/authorize"
               th:href="@{https://kauth.kakao.com/oauth/authorize(client_id=${kakaoApiKey}, redirect_uri=${redirectUri}, response_type='code')}">
                <img src="/images/kakao_login_medium_wide.png">
            </a>
        </div>

    </div>
</div>
<script th:inline="javascript">


</script>
</body>
</html>