<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/fragments/layout}"
>
<head>

</head>
<div layout:fragment="content">
    <div>
        <p class="title">공지사항</p>
    </div>

    <div id="container">

        <div class="btnArea">
            <div class="btnLeftArea"></div>
            <div class="btnRightArea">
                <input type="text" id="searchInp" placeholder="게시글 제목 검색" th:value="${title}" class="commInp size300">
                <button type="button" id="registBtn" class="commBtn mgl10">글쓰기</button>
            </div>
        </div>

        <table class="boardTable mgt20">
            <colgroup>
                <col style="width: 7%;"/>
                <col style="width: auto;"/>
                <col style="width: 10%;"/>
                <col style="width: 10%;"/>
                <col style="width: 8%;"/>
            </colgroup>
            <thead>
            <tr>
                <th class="alCenter">No.</th>
                <th class="alCenter">제목</th>
                <th class="alCenter">작성자</th>
                <th class="alCenter">등록일</th>
                <th class="alCenter">조회</th>
            </tr>
            </thead>
            <tbody id="boardListBody">
            </tbody>
        </table>
        <input type="hidden" name="page" id="page" value="0"/>
        <ul id="pagingArea" class="pagination"></ul>
    </div>
    <script type="text/javascript" th:src="@{/js/page.js}"></script>
    <script type="text/javascript" th:src="@{/js/date.js}"></script>
    <script type="text/javascript" th:src="@{/js/fetch.js}"></script>
    <script th:inline="javascript">
        window.onload = function () {
            let menuCd = [[${menuCd}]];
            document.getElementById("registBtn").addEventListener("click", function () {
                moveUrl("/" + siteId + "/board/" + menuCd + "/regist");
            });

            document.getElementById("searchInp").addEventListener('keydown', function (event) {
                if (event.key === 'Enter') {
                    const query = event.target.value;

                    let params = {};

                    params['title'] = query;

                    moveUrl("/" + siteId + "/board/" + menuCd + "/list", params);
                }
            });

            getList()
        }

        function getList(pageNo) {
            pageNo = pageNo || 0;

            const title = document.querySelector("#searchInp").value;
            const url = "/api/opened/boardList?title=" + title + "&page=" + pageNo;
            FETCH.get(url, afterGetList)
        }

        function afterGetList(response) {
            PAGE.paging(response.totalPages, response.number, response.totalElements, "getList")
            resultTable(response)
        }


        function resultTable(response) {
            document.querySelector("#boardListBody").innerHTML = "";
            if (response.size > 0) {
                const content = response.content;

                for (let i = 0; i < content.length; i++) {
                    let element = document.querySelector("#boardListBody");
                    let result = content[i];
                    console.log(result)
                    let date = DATE.setDateFormat(result.regDt)
                    let template = `
					<td class="alCenter"><p>${PAGE.pageRowNumber(response.number, response.size, i, response.totalElements)}</p></td>
					<td class="alLeft">><a href="javascript:moveDetail(${result.boardId});">
	                		<p>${result.title}</p>
	                	</a></td>
					<td class="alCenter" style="color: #515151; font-size:17px;"><p>${result.regId}</p></td>
					<td class="alCenter"><p>${date}</p></td>
					<td class="alCenter"><p>${result.viewCount}</p></td>
				`;
                    element.insertAdjacentHTML('beforeend', template);
                }
            }
        }

        // 초기화
        function resetList() {
            document.querySelector("#title").value = "";
            document.querySelector("#boardListBody").innerHTML = "";

            getList();
        }


        function moveDetail(boardId) {
            let menuCd = [[${menuCd}]]
            moveUrl("/" + siteId + "/board/" + menuCd + "/detail/" + boardId);
        }
    </script>
</div>

</html>