<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/fragments/layout}">
<head>
    <style>
        #btnArea {
            display:flex;
            justify-content:end;
            align-items:center;
            margin-top:20px;
        }
    </style>
</head>
<div layout:fragment="content">
    <div>
        <p class="title">공지사항</p>
    </div>

    <div id="container">

		<div id="btnArea">
			<input type="text" placeholder="게시글 제목 검색" class="comm_inp size300">
            <button type="button" id="registBtn" class="commBtn mgl10">글쓰기</button>
        </div>
        
        <table class="boardTable mgt20">
            <colgroup>
                <col style="width: 7%;"/>
                <col style="width: auto;"/>
                <col style="width: 10%;"/>
                <col style="width: 10%;"/>
                <col style="width: 8%;"/>
            </colgroup>
            <thead>
            <tr>
                <th class="alCenter">No.</th>
                <th class="alCenter">제목</th>
                <th class="alCenter">작성자</th>
                <th class="alCenter">등록일</th>
                <th class="alCenter">조회</th>
            </tr>
            </thead>
            <tbody>
	            <tr th:each="board, stat :${boardList}">
	                <td class="alCenter" th:text="${stat.count}"></td>
	                <td class="alLeft" th:text="${board.title}" style="color: #515151; font-size:17px;"></td>
	                <td class="alCenter" th:text="${board.regId}" style="color: #515151; font-size:17px;"></td>
	                <td class="alCenter" th:text="${board.regDt}"></td>
	                <td class="alCenter" th:text="${board.viewCount}"></td>
	            </tr>
            </tbody>
        </table>
    </div>
<script th:inline="javascript">
	document.addEventListener("DOMContentLoaded", function () {
		let menuCd = [[${menuCd}]];
		document.getElementById("registBtn").addEventListener("click",function() {
			moveUrl("/"+siteId+"/board/"+menuCd+"/regist");
		});
	});
</script>
</div>

</html>