<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/fragments/layout}">
<head>
    <style>
        #btnArea {
            display:flex;
            justify-content:end;
            align-items:center;
            margin-top:20px;
        }
    </style>
</head>
<div layout:fragment="content">
    <div>
        <p class="title">공지사항</p>
    </div>

    <div id="container">
		<div id="btnArea">
            <button type="button" id="registBtn" class="commBtn mgl10">등록</button>
        </div>
        <table style="border: 1px solid; width: 100%;">
            <colgroup>
                <col style="width: 5%;"/>
                <col style="width: 25%;"/>
                <col style="width: 25%;"/>
                <col style="width: 25%;"/>
                <col style="width: 20%;"/>
            </colgroup>
            <thead>
            <tr>
                <th>no</th>
                <th colspan="2">colspan 2</th>
                <th>컬럼2</th>
                <th>컬럼3</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="text-align: center;">1</td>
                <td style="text-align: center;">데이터1</td>
                <td style="text-align: center;">데이터2</td>
                <td colspan="2" style="text-align: center;">데이터3</td>
            </tr>
            </tbody>
        </table>
    </div>
<script th:inline="javascript">
	document.addEventListener("DOMContentLoaded", function () {
		let menuCd = [[${menuCd}]];
		document.getElementById("registBtn").addEventListener("click",function() {
			moveUrl("/"+siteId+"/board/"+menuCd+"/regist");
		});
	});
</script>
</div>

</html>