<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/fragments/layout}">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    
	<script src="https://cdn.tiny.cloud/1/0uzc4vnstisiafaztztg0l4l11gklm6nrd7it918bcoyhz69/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <style>
        #registTable > tbody > tr {
            height: 60px;
            line-height: 60px;
        }
    </style>
</head>


<div layout:fragment="content">
    <div>
        <p class="title">공지사항 등록</p>
    </div>

    <div id="container">
        <form id="registForm"  method="post" entype="multipart/form-data">

            <table id="registTable">
                <colgroup>
                    <col style="width: 10%;"/>
                    <col style="width: 90%;"/>
                </colgroup>
                <tbody>
                    <tr>
                        <th>제목</th>
                        <td>
                            <input type="text" id="title" name="title" class="comm_inp" placeholder="제목을 입력해주세요.">
                        </td>
                    </tr>
                    <tr>
                        <th>파일 첨부</th>
                        <td>


                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea id="tiny"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="btnArea" style="justify-content: center;">
            	<button onClick="javascript:history.back();" type="button" id="backBtn" class="commBtn">이전</button>
                <button type="button" id="registBtn" class="commBtn mgl10 size100">작성 완료</button>
            </div>
        </form>
    </div>
</div>
</html>

<script th:inline="javascript">

document.addEventListener("DOMContentLoaded", function () {

	// 텍스트에디터 기초 세팅
	tinymce.init({
		language:"ko_KR",
	    selector: 'textarea',
	    height:500,
	    plugins: [
	      // Core editing features
	      'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
	      // Your account includes a free trial of TinyMCE premium features
	      // Try the most popular premium features until Oct 14, 2024:
	      'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown',
	    ],
	    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
	    tinycomments_mode: 'embedded',
	    tinycomments_author: 'Author name',
	    mergetags_list: [
	      { value: 'First.Name', title: 'First Name' },
	      { value: 'Email', title: 'Email' },
	    ],
	    ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
	});
	
	document.getElementById("registBtn").addEventListener("click", function() {
	
		if(confirm("등록 하시겠습니까?")) {
				
			let formData = new FormData(document.querySelector("#registForm"));
			let params = {};
			
			for(let [key,value] of formData.entries()) {
				params[key] = value;
			};
			
			// 텍스트에디터 내용 가져오기
			let tinyContent = tinymce.get("tiny").getContent();
			params['content'] = tinyContent;
			
			for(let key in params) {
				console.log(key);
				if(params[key].trim() == "" || params[key].trim() == undefined || params[key].trim() == null) {
					if(key == "title") {
						alert("제목을 입력해주세요.");
						return;
					}
					
					if(key == "content") {
						alert("내용을 입력해주세요.");
						return;
					}
				}
			}
			let url = "/"+siteId+"/board/"+menuCd+"/list";
			
			setData(params,url);
		}
	});
	
  
});

let menuCd = [[${menuCd}]];

// 비동기 통신
function setData(formArr,url) {
    fetch('/' + siteId + '/board/' + menuCd + '/regist', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(formArr)
    })
    .then(function(result) {
		alert("등록이 완료되었습니다.");
		
		moveUrl(url);
    })
    .catch(function(error) {
        console.log("error:", error);
    });
}
</script>