<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/fragments/layout}">
<head>
	<script src="https://cdn.tiny.cloud/1/0uzc4vnstisiafaztztg0l4l11gklm6nrd7it918bcoyhz69/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
</head>

<div layout:fragment="content">
    <div>
        <p class="title">공지사항 등록</p>
    </div>

    <div class="boardContainer">
        <form id="registForm"  method="post" entype="multipart/form-data">

            <table class="registTable">
                <colgroup>
                    <col style="width: 10%;"/>
                    <col style="width: 90%;"/>
                </colgroup>
                <tbody>
                    <tr>
                        <th class="alLeft bold">제목</th>
                        <td>
                            <input type="text" id="title" name="title" class="boardInp" placeholder="제목을 입력해주세요.">
                        </td>
                    </tr>
                    <tr>
                        <th class="alLeft bold">파일 첨부</th>
                        <td>
							<div class="form__input--file_wrap">
								<div class="form__input--top_wrap">
								  <input class="form__input--file" id="upload" type="file" multiple>
								  <label class="form__label--file" for="upload">내PC</label>
								  <span class="form__span--txt">※ 최대 5개까지 첨부 가능합니다.</span>
							  	</div>
								<div class="form__input--bottom_wrap">
							  		<div class="form__div--file"></div>
								</div>
							</div>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea id="tiny"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="btnArea" style="justify-content: center;">
            	<button onClick="javascript:history.back();" type="button" id="backBtn" class="commBtn">이전</button>
                <button type="button" id="registBtn" class="commBtn mgl10 size100">작성 완료</button>
            </div>
        </form>
    </div>
</div>
</html>




<script th:inline="javascript">

let menuCd = [[${menuCd}]];
var files = []; // 실제 파일 담는 arr
var fileIdx = 1;
var beforeFiles = []; // 백업용

document.addEventListener("DOMContentLoaded", function () {
	// 텍스트에디터 기초 세팅
	tinymce.init({
		language:"ko_KR",
	    selector: 'textarea',
	    height:500,
	    plugins: [
	      // Core editing features
	      'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
	    ],
	    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
	    tinycomments_mode: 'embedded',
	    tinycomments_author: 'Author name',
	    mergetags_list: [
	      { value: 'First.Name', title: 'First Name' },
	      { value: 'Email', title: 'Email' },
	    ],
	    ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
	});
	
	document.getElementById("registBtn").addEventListener("click", function() {
	
		if(confirm("등록 하시겠습니까?")) {
				
			let formData = new FormData(document.querySelector("#registForm"));
			let params = {};
			
			if(files.length === 0) {
				formData.append('files',null);
			}else {
				formData.append('files',files);
			}
			
			// for(let [key,value] of formData.entries()) {
			//	params[key] = value;
			// };
			
			// 텍스트에디터 내용 가져오기
			let tinyContent = tinymce.get("tiny").getContent();
			formData.append('content',tinyContent);
			
			for(let [key,value] of formData.entries()) {
				if(value.trim() == "" || value.trim() == undefined || value.trim() == null) {
					if(key == "title") {
						alert("제목을 입력해주세요.");
						return;
					}
					
					if(key == "content") {
						alert("내용을 입력해주세요.");
						return;
					}
				}
			}
			let url = "/"+siteId+"/board/"+menuCd+"/list";
			
			setData(formData,url);
		}
	});
	
	
	// input file 커스텀 - 파일명 붙이기
	const fileTarget = document.querySelector('.form__input--file_wrap input');
	
	fileTarget.addEventListener('change', function () { 
		
		for(var i=0; i<this.files.length; i++){
			console.log(this.files[i]);
			if(files.length >= 5){
				alert('최대 5개까지 첨부 가능합니다.');
				break;
			}
			
			var file = this.files[i];
			file['idx'] = fileIdx;
			files.push(file);
			fileIdx++;
		}
		
		setFiles();
		
	});

});

var fileDiv = document.querySelector('.form__div--file');

// 파일 그리기
function setFiles() {
	var fileHtml = '';
	_.forEach(files, function(file){
		fileHtml += '<span class="select_file_box"><button type="button" data-idx="'+file.idx+'"class="delete_file_btn" onClick="deleteFileBtn(this)"> x </button>'+file.name+'</span>';
	})
	
	if (fileDiv) {
		fileDiv.innerHTML = fileHtml;
	};
}

function deleteFileBtn(elem) {
	// 실제 파일 삭제
	files = _.filter(files, function(file) {return file.idx != elem.getAttribute("data-idx")})
	console.log(files);
	setFiles();
};


// 비동기 통신
function setData(formData,url) {
    fetch('/' + siteId + '/board/' + menuCd + '/regist', {
        method: 'POST',
        body: formData
    })
    .then(function(result) {
		alert("등록이 완료되었습니다.");
		
		moveUrl(url);
    })
    .catch(function(error) {
        console.log("error:", error);
    });
}

</script>