<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>
<div style="margin:100px">
    <div style="background-color: #7B6A59; color: white; display: flex; flex-direction: column; padding: 2rem">
        <h1>안녕하세요.</h1>
        <h1>LUMIT 회원가입 인증 메일 입니다.</h1>
        <div style="text-align: center; margin-top: 2rem; font-size: 20px;">
            <a style="cursor: pointer; background-color: #263458; padding: 0.5rem; border-radius: 0.3rem; text-decoration: none; color:white"
               th:href="${siteId}+'/auth/emailCheck?id='+${id} + '&email='+ ${email} + '&code=' + ${code} + '&type=join'"><span>링크를 클릭하여 바로 인증</span></a>
        </div>
    </div>
</div>
</body>
</html>