<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><!--/*  layout 선언부 추가    */-->
<head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
</head>
<body>
<div class="wrapper">
    <div class="container">
        <div th:replace="~{fragments/header :: headerFragment}"></div>
    </div>
    <div class="container">
        <div class="navWrapper">
            <div th:replace="~{member/fragments/side-nav :: sideNavFragment}"></div>
            <div layout:fragment="content"></div>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: footerFragment}"></div>

</div>
<script th:src="@{/js/functions.js}"></script>
<script th:src="@{/js/fetch.js}"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
</body>
</html>