<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="sideNavFragment" class="sideNavContainer">
    <h1 class="title">MY PAGE</h1>
    <nav class="navList" id="navList">
    </nav>
    <script th:inline="javascript">
        function getMenu() {
            FETCH.get("/api/common/code/USER_MENU_CD", listAssembler)
        }

        function listMaker(type, link, title) {
            const li = document.createElement("li")
            li.classList.add("menu")
            if (type == "parent") {
                li.classList.add("parentMenu")
            }
            if (link != null && link != "") {
                const a = document.createElement("a")
                a.href = link
                a.text = title
                if (location.pathname == link) {
                    a.classList.add("currentMenu")
                }
                li.appendChild(a)
            } else {
                li.textContent = title
            }
            return li
        }

        /**
         *
         * @param data{Object}
         */
        function listAssembler(data) {
            const parent = document.getElementById("navList")
            /**
             * @type {Array | null}
             */
            const list = data["list"]
            let parentChk = true;
            for (let i = 0; i < list.length; i++) {
                /**
                 *
                 * @type {string}
                 */
                let code = list[i]["cd"]
                let type = code.endsWith("0") ? "parent" : ""
                if (!parentChk && type == "parent") {
                    parent.appendChild(document.createElement("hr"))
                }
                parentChk = type == "parent" ? true : false
                let link = list[i]["ctt"] != null ? list[i]["ctt"] : ""
                let title = list[i]["cdNm"]
                const elem = listMaker(type, link, title)
                parent.appendChild(elem)
            }
        }

        document.addEventListener("DOMContentLoaded", () => {
            getMenu()
        })
    </script>
</div>