<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="banner" th:fragment="bannerFragment">
    <div class="bannerContainer">
        <div class="imgWrap">
            <img class="bannerImg" th:src="@{/images/mock/banner.png}">
            <div class="bannerTxtContainer">
                <p class="bannerTxt">Hot Summer Sale!</p>
                <p class="bannerTxtDetail">올 여름 핫한 조명 초특가 할인 준비 완료!</p>
            </div>
        </div>
        <div class="imgWrap">
            <img class="bannerImg" th:src="@{/images/mock/banner.png}">

            <div class="bannerTxtContainer">
                <p class="bannerTxt">Hot Summer Sale!</p>
                <p class="bannerTxtDetail">올 여름 핫한 조명 초특가 할인 준비 완료!</p>
            </div>
        </div>
        <div class="imgWrap">
            <img class="bannerImg" th:src="@{/images/mock/banner.png}">
            <div class="bannerTxtContainer">
                <p class="bannerTxt">Hot Summer Sale!</p>
                <p class="bannerTxtDetail">올 여름 핫한 조명 초특가 할인 준비 완료!</p>
            </div>
        </div>
        <div class="imgWrap bannerMain">
            <img class="bannerImg mainImg" th:src="@{/images/mock/banner.png}">

            <div class="bannerTxtContainer">
                <div class="bannerArrow">
                    <button class="rightArrow"><</button>
                    <p class="bold">1</p>/3
                    <button class="leftArrow">></button>
                </div>
                <p class="bannerTxt">메인입니다. Hot Summer Sale!</p>
                <p class="bannerTxtDetail">올 여름 핫한 조명 초특가 할인 준비 완료!</p>
            </div>
        </div>
        <div class="imgWrap">
            <img class="bannerImg" th:src="@{/images/mock/banner.png}">
            <div class="bannerTxtContainer">
                <p class="bannerTxt">Hot Summer Sale!</p>
                <p class="bannerTxtDetail">올 여름 핫한 조명 초특가 할인 준비 완료!</p>
            </div>
        </div>
        <div class="imgWrap">
            <img class="bannerImg" th:src="@{/images/mock/banner.png}">
            <div class="bannerTxtContainer">
                <p class="bannerTxt">Hot Summer Sale!</p>
                <p class="bannerTxtDetail">올 여름 핫한 조명 초특가 할인 준비 완료!</p>
            </div>
        </div>
    </div>
</div>
</html>