<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:fragment="headerFragment" class="header">
    <div class="leftHeader">
        <ul class="">
            <li class="logo"><a class="home" href="#" th:href="@{/}">Lumit</a></li>
            <li class="">
                <a class="" href="#" th:href="@{/}">인테리어</a>
            </li>
            <li class="">
                <a class="" href="#">스튜디오</a>
            </li>
            <li class="">
                <a class="" href="#">Q&A</a>
            </li>

            <li class="">
                <a class="" href="#">공지사항</a>
            </li>
        </ul>
    </div>
    <div></div>
    <div class="rightHeader">
        <div class="searchContainer">
            <form class="searchBox" action="" method="get">
                <input class="searchText" type="text" name="searchText" placeholder="여름 해변 분위기의 선셋 조명 출시!">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <div class="memberContainer">
            <button type="button" sec:authorize="isAuthenticated()"
                    class="btn btn-outline-danger my-2 my-sm-0 btn-sm">
                <a th:href="@{/member}">
                    내 정보</a>
            </button>
            <form form-method="post" th:action="@{/logout}">
                <button sec:authorize="isAuthenticated()"
                        class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">
                    로그아웃
                </button>
            </form>
            <button sec:authorize="isAnonymous()"
                    class="btn btn-outline-info my-2 my-sm-0 btn-sm">
                <a th:href="@{/login}">로그인</a>
            </button>
            <button sec:authorize="isAnonymous()"
                    class="btn btn-outline-info my-2 my-sm-0 btn-sm"
                    type="button">
                <a th:href="@{/member/createUser}">회원가입</a>
            </button>
        </div>
    </div>
</nav>
</html>