<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><!--/*  layout 선언부 추가    */-->
<head>
    <th:block th:replace="~{fragments/head :: headFragment}"></th:block>
</head>
<body>
<div class="wrapper">
    <div class="container">
        <div th:replace="~{fragments/header :: headerFragment}"></div>
    </div>
    <div class="">
        <div th:replace="~{fragments/banner :: bannerFragment}"></div>
    </div>
    <div class="container">
        <div th:replace="~{fragments/tags :: tagsFragment}"></div>
    </div>
    <div class="container">
        <div class="content" layout:fragment="content"></div>
    </div>
    <div class="">
        <div class="">
            <div th:replace="~{fragments/footer :: footerFragment}"></div>
        </div>
    </div>
</div>
</body>
</html>