<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/fragments/layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div layout:fragment="content">
    <div>
        <p class="title">회원 관리</p>
        <a sec:authorize="hasAnyRole('SUPER_ADMIN')" class="linkBtn" th:href="@{/admin/member/updateManager}">관리자 편집</a>
        <a class="linkBtn" th:href="@{/admin/member/newManager}">새로운 관리자 생성하기</a>
        <a class="linkBtn" th:href="@{/admin/member/updateUser}">일반 회원 관리하기</a>
    </div>
</div>
</html>