@import "reset.css";

@font-face {
    font-family: "Playfair Display", serif;
    src: url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-lighter';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-style: normal;
}


@font-face {
    font-family: 'Pretendard-bolder';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-style: normal;
}

:root {
    --background-color: #FFFFFF;
    --font-color: #2B2928;
    --font-light-color: #FFFFFF;
    --font-grey-color: #828282;
    --text-size-small: 0.5rem;
    --text-size-medium: 0.9rem;
    --text-size-large: 1.2rem;
    --text-size-larger: 1.5rem;
    --text-size-xlarge: 2rem;
    --nav-background-color: #263458;
    --active-background-color: #3c69dd;
    --edge-color: #4169E1;
    --default-padding: 0.7rem;
    --default-margin: 0.7rem;
    --icon-color: #a9aec1;
    --highlight-background-color: #E6E6E6;
    --small-border-radius: 0.2rem;
    --default-border-radius: 0.3rem;
}


body {
    background-color: var(--background-color);
    font-family: Pretendard-Regular;
    font-size: 0.7rem;
    color: var(--font-color);
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 100%;
    padding: 10px;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.nav-tab {
    width: 235px;
    font-size: var(--text-size-medium);
    font-family: Pretendard-bold;
    background-color: var(--nav-background-color);
    font-weight: lighter;
    color: var(--font-light-color);
    height: 100vh;
    transition: width 500ms;

}

.nav-tab > ul {
    height: 100%;
}

.nav-tab > *, .nav-tab > * > li {
    width: 235px;
    height: 40px;
}

.nav-tab li a {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px 22px;
    box-sizing: border-box;
}

.nav-link > i {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: width 500ms;
}

i {
    margin-right: 10px;
    width: 24px;
    height: 24px;
    text-align: center;
    color: var(--icon-color);
}

.active {
    background-color: var(--active-background-color);
    width: 100%;
}

.active i {
    color: white;
    margin: 0;
}


.nav-link {
    display: block;
    text-decoration: none;
    color: var(--font-light-color);
    display: block;
    position: relative;
    font-family: Pretendard-Regular;
    font-size: var(--text-size-medium);
    line-height: 20px;
}

.wide {
    padding-left: 6px;
}


.sb_hidden, .sb_hidden ul, .sb_hidden li, .sb_hidden .logo {
    text-align: center;
    width: 60px;
}

.logo {
    /*height: 100%;*/
    display: flex;
    font-family: "Playfair Display", serif;
    font-size: var(--text-size-xlarge);
    margin-top: var(--default-margin);
    /*margin-bottom: var(--default-margin);*/
    border-bottom: 1px solid grey;
    padding-bottom: 0.7rem;
    transition: all 500ms;
    justify-content: space-around;
    align-items: center;
}

.logo > a {
    flex-wrap: wrap;
    padding: 5px 22px;
}

.commBtn {
    border: 1px solid #CAAB9C;
    cursor: pointer;
    color: #876453;
    background-color: #E7DBCD;
    width: 70px;
    height: 35px;
    border-radius: 12px;
}

.mgl10 {
    margin-left: 10px;
}

.mgt20 {
    margin-top: 20px;
}

.btnWrapper {
    height: 100%;
    width: 60px;
    justify-content: center;
}

.rotateArrow {
    transform: rotate(180deg);
}

.logo i {
    font-size: var(--text-size-medium);
    width: 100%;
    height: 100%;
}


.nav-link i, .btnWrapper {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none !important;
}

.toggleBtn {
    color: var(--font-light-color);
    padding: 0;
    display: inline-grid;
    justify-content: center;
    align-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    /*padding: 10px;*/
    /*margin-right: var(--default-margin);*/
    box-sizing: border-box;
    border-radius: var(--small-border-radius);
    text-align: center;
}

.toggleBtn > i {

}

.toggleBtn:hover, .nav-link:not(.active):hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-link > * {
    color: white !important;
    opacity: 1 !important;
}

.content {
    margin: 1rem;
    height: 100%;
}

.title {
    font-size: var(--text-size-xlarge);
    margin-bottom: 2rem;
}

.linkBtn {
    padding: 1rem;
    background-color: var(--nav-background-color);
    color: white;
    border-radius: var(--small-border-radius);
}

.alCenter {
    text-align: center;
}

.alLeft {
    text-align: left;
}

.alRight {
    text-align: right;
}

.boardTable {
    width: 100%;
}

.boardTable thead {
    height: 40px;
    color: #CAAB9C;
    font-size: 14px;
    line-height: 40px;
    border-top: 2px solid #CAAB9C;
    border-bottom: 1px solid #D9D9D9;
}

.boardTable tbody tr {
    height: 45px;
    line-height: 45px;
    color: #9F9F9F;
    font-size: 14px;
    border-bottom: 1px solid #D9D9D9;
}

.comm_inp {
    border: 1px solid #e5e5e5;
    width: 100%;
    height: 35px;
    padding: 0px 15px;
    border-radius: 10px;
}

.size300 {
    width: 300px;
}

.size100 {
    width: 100px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 400px;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

/*.inputContainer > * {*/
/*    padding: 0.4rem;*/
/*}*/

.inputContainer > input {
    border-bottom: 1px black solid;
    width: 70%;
}