@import "reset.css";
@import "font.css";
@import "common.css";


body {
    background-color: var(--background-color);
    font-family: Pretendard;
    font-size: 0.7rem;
    color: var(--font-color);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0px;
}

.container * {
    color: var(--text-color);
}

.searchArea {
    width: 100%;
    display: flex;
    column-gap: 5px;
    margin-bottom: 45px;
}

.container select, .container input[type="text"], .container input[type="password"], .container input[type="number"] {
    background-color: var(--input-background-color);
    border: 1px solid var(--light-gray-color);
    outline: none;
    border-radius: 5px;
    height: 32px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
    box-sizing: border-box;
}


.container input[type="text"]:disabled {
    background-color: dimgrey;
    color: linen;
    opacity: 1;
}

.container select {
    -webkit-appearance: none; /* for chrome */
    -moz-appearance: none; /*for firefox*/
    appearance: none;
    background-image: url('../images/icons/dropdown.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right 5px top 50%;
    padding-right: 40px;
    height: 34px;
}

input.f1, select.f1 {
    flex: 1;
}

input.w10, select.w10 {
    width: 10%;
}

input.w15, select.w15 {
    width: 15%;
}

input.w20, select.w20 {
    width: 20%;
}

input.w25, select.w25 {
    width: 25%;
}

input.w30, select.w30 {
    width: 30%;
}

input.w40, select.w40 {
    width: 40%;
}

input.w50, select.w50 {
    width: 50%;
}

input.w60, select.w60 {
    width: 60%;
}

input.w70, select.w70 {
    width: 70%;
}

input.w80, select.w80 {
    width: 80%;
}

input.w100, select.w100 {
    width: 100%;
}

.container .col.red {
    color: var(--red-color);
}

.container .col.green {
    color: var(--green-color);
}

.container .col.brand1 {
    color: var(--brand-color1);
}

.container .col.brand2 {
    color: var(--brand-color2);
}

.container .col.brand3 {
    color: var(--brand-color3);
}

.container .col.brand4 {
    color: var(--brand-color4);
}

.container .txt_el {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.datepickerWrap {
    display: flex;
    align-items: center;
    min-width: 20%;
}

.datepickerInput {
    padding-right: 45px;
    flex: 1;
    background-image: url('../images/icons/calendar.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right 10px top 50%;
    width: 100px;
    cursor: pointer;
}

.datepickerDash {
    margin-left: 10px;
    margin-right: 10px;
}

.searchBtn {
    border: none;
    background-color: var(--brand-color2);
    border-radius: 5px;
    outline: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-image: url('../images/icons/ic_search.svg');
    width: 34px;
    height: 34px;
    cursor: pointer;
    box-shadow: 0px 2px 5px var(--shadow-color);
}

.searchResult {
    color: var(--brand-color1);
}

.searchResult .total {
    color: var(--brand-color1);
    font-weight: bold;
    font-size: 17px;
}

.tableWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    font-size: 14px;
}

.tableWrap table {
    width: 100%;
    table-layout: fixed;
}

.tableWrap table th, .wrap .table_wrap table td {
    border: 1px solid var(--brand-color2);
    padding: 10px 15px;
}

.tableWrap table th {
    background-color: var(--brand-color2);
    color: var(--white);
}

.tableWrap table th, .wrap .table_wrap table td {
    vertical-align: middle;
}

.ui-datepicker th {
    font-family: 'NanumGothic', sans-serif !important;
    color: var(--text-color);
    font-size: 0.9em;
}

.ui-widget-header {
    background-color: var(--brand-color4);
    border: none;
    font-size: 12px;
}

.ui-widget.ui-widget-content {
    padding: 0;
    border: 1px solid var(--brand-color1);
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    font-family: 'NanumGothic', sans-serif;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    font-size: 12px;
}

.ui-datepicker-today .ui-state-default {
    color: var(--brand-color1);
    font-family: 'NanumGothicBold', sans-serif;
    border-radius: 5px;
    background-color: var(--light-gray-color) !important;
    border-radius: 5px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background-color: var(--brand-color1) !important;
    border-radius: 5px;
    color: var(--white)
}

.ui-state-hover {
    background-color: transparent !important;
}

.ui-datepicker .ui-datepicker-prev span {
    background-size: cover;
    background-image: url('../images/icons/arrow_gray.svg') !important;
    background-position: center;
}

.ui-datepicker .ui-datepicker-next span {
    background-size: cover;
    background-image: url('../images/icons/arrow_gray.svg') !important;
    background-position: center;
    transform: rotate(180deg)
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    top: 50% !important;
    transform: translateY(-50%);
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 30%;
    height: 30px;
}

.container {
    width: 100%;
    padding: 10px;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    padding: 3rem;
}

.contentWrap {
    margin-top: 30px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}

.formContainer * {
    margin-bottom: 1rem;
}

.nav-tab {
    width: 235px;
    font-size: var(--text-size-medium);
    font-family: Pretendard;
    background-color: var(--nav-background-color);
    font-weight: 600;
    color: var(--font-light-color);
    height: 100vh;
    transition: width 500ms;
    position: sticky;
    top: 0;
    bottom: 0;
}

.nav-tab > ul {
    height: 100%;
}

.nav-tab > *, .nav-tab > * > li {
    width: 235px;
    height: 40px;
}

.nav-tab li a {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px 22px;
    box-sizing: border-box;
}

.nav-link > i {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: width 500ms;
}

i {
    margin-right: 10px;
    width: 24px;
    height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.active {
    background-color: var(--active-background-color);
    width: 100%;
}

.active i {
    color: white;
    margin: 0;
}


.nav-link {
    display: block;
    text-decoration: none;
    color: var(--font-light-color);
    display: block;
    position: relative;
    font-weight: 400;
    font-size: var(--text-size-medium);
    line-height: 20px;
}

.wide {
    padding-left: 6px;
}


.sb_hidden, .sb_hidden ul, .sb_hidden li, .sb_hidden .logo {
    text-align: center;
    width: 60px;
}

.logo {
    /*height: 100%;*/
    display: flex;
    font-family: "Playfair Display", serif;
    font-size: var(--text-size-xlarge);
    /*margin-top: var(--default-margin);*/
    /*margin-bottom: var(--default-margin);*/
    border-bottom: 1px solid #83685E;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    transition: all 500ms;
    justify-content: space-around;
    align-items: center;
}

.logo > a {
    flex-wrap: wrap;
    padding: 5px 22px;
}

.commBtn {
    border: 1px solid #CAAB9C;
    cursor: pointer;
    color: #876453;
    background-color: #E7DBCD;
    border-radius: 12px;
    font-size: 13px;
    padding: 7px 10px;
}

.commBtn:focus {
    outline: none;
}

.mgl10 {
    margin-left: 10px;
}

.mgr10 {
    margin-right: 10px;
}

.mgt20 {
    margin-top: 20px;
}

.wsNorap {
    white-space: nowrap;
}

.bold {
    font-weight: 600;
}

.btnWrapper {
    height: 100%;
    width: 60px;
    justify-content: center;
}

.rotateArrow {
    transform: rotate(180deg);
}

.logo i {
    font-size: var(--text-size-medium);
    width: 100%;
    height: 100%;
}


.nav-link i, .btnWrapper {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none !important;
}

.toggleBtn {
    color: var(--font-light-color);
    padding: 0;
    display: inline-grid;
    justify-content: center;
    align-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    /*padding: 10px;*/
    /*margin-right: var(--default-margin);*/
    box-sizing: border-box;
    border-radius: var(--small-border-radius);
    text-align: center;
}

.toggleBtn > i {

}

.toggleBtn:hover, .nav-link:not(.active):hover {
    background-color: var(--active-background-color);
}

.nav-link > * {
    color: white !important;
    opacity: 1 !important;
}

.title {
    font-size: var(--text-size-xlarge);
    margin-bottom: 1rem;
}

.linkBtn {
    padding: 1rem;
    background-color: var(--nav-background-color);
    color: white;
    border-radius: var(--small-border-radius);
}

.alCenter {
    text-align: center;
}

.alLeft {
    text-align: left;
}

.alRight {
    text-align: right;
}

table tbody tr td.dvCd {
    color: #9F9F9F;
}

table tbody tr td.tdTitle {
    color: #515151;
    font-size: 16px;
    font-weight: 500;
}

table tbody tr td {
    vertical-align: middle;
}

table tbody tr td .tblBtn {
    margin: 0 auto;
    width: 34px;
    height: 34px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 2px 5px var(--shadow-color);
}

table tbody tr td .tblBtn.delBtn {
    display: block;
    background-color: var(--brand-color4);
    background-image: url('../images/icons/delete.svg');
}

.boardTable {
    width: 100%;
}

.boardTable thead {
    height: 40px;
    color: #CAAB9C;
    font-size: 14px;
    line-height: 40px;
    border-top: 2px solid #CAAB9C;
    border-bottom: 1px solid #D9D9D9;
}

.boardTable tbody tr {
    height: 60px;
    line-height: 45px;
    color: #9F9F9F;
    font-size: 14px;
    border-bottom: 1px solid #D9D9D9;
}

.boardTable .listTable tbody tr td {
    vertical-align: middle;
}

.commInp {
    border: 1px solid #e5e5e5;
    width: 100%;
    height: 35px;
    padding: 0px 15px;
    border-radius: 10px;
    box-sizing: border-box;
}

.boardContainer {
    width: 55vw;
}


.boardInp {
    border-bottom: 1px solid #D9D9D9;
    height: 35px;
    padding: 0px 15px;
    box-sizing: border-box;
}

.registTable {
    font-size: 16px;
    width: 100%;
}

.registTable > tbody > tr {
    height: 46px;
    line-height: 46px;
}

.size300 {
    width: 300px;
}

.size100 {
    width: 100px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 400px;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

/*.inputContainer > * {*/
/*    padding: 0.4rem;*/
/*}*/

.inputContainer > input {
    border-bottom: 1px black solid;
    width: 70%;
}


.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;
}

.pagination i {
    height: 100%;
}

.pagination li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    margin: 0.2rem;
}

/*.pagination a {*/
/*    display: block;*/
/*}*/

.pageActive {
    background-color: var(--brand-color2);
    color: white;
    border-radius: 0.2rem;
}


/* file 관련 */
input[type='file'] {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

.form__input--file_wrap {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.form__label--file {
    width: 60px;
    line-height: 25px;
    background: #E7DBCD;
    border-radius: 5px;
    color: #876453;;
    border: 1px solid #CAAB9C;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.form__input--top_wrap {
    display: flex;
    margin-bottom: 10px;
}

.form__span--txt {
    color: #CEB1A2;
    padding: 0 5px 0 10px;
    margin-left: 5px;
    min-height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form__div--file, .form__div--file_rep {
    display: flex;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    column-gap: 10px;
    row-gap: 10px;
}

.select_file_box {
    border: 1px solid #DADADA;
    background-color: #F5F5F5;
    padding: 5px 18px 5px 10px;
    border-radius: 7px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete_file_btn {
    color: #999;
    font-size: 16px;
    margin-right: 10px;
}

/**
admin/member/user/updateManager
 */

.adminTable {
    width: 100%;
    font-size: larger;
    border-collapse: separate;
    /*border-spacing: 0 1rem;*/
    padding: 2rem;
    min-width: 579px;
    border-radius: 0.2rem;
    text-align: center;
}


.adminTable th {
    height: 3rem;
    border-bottom: 1px solid #263458;
    vertical-align: middle;
}

.adminTable td {
    border-bottom: 1px solid #263458;
    text-align: center;
    vertical-align: middle;
}

button > i {
    display: flex;
    align-content: center
}

.adminTable > tbody > tr > td:nth-child(1) {
    /*display: flex;*/
    justify-content: center;
}

.adminTable select {
    border: none;
    padding: 0.6rem;
    text-align: center;
}

.adminTable select:focus {
    outline: 0;
}

.adminContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.inputNameBox {
    /*display: flex;*/
    align-items: center;
    /*height: 100%;*/
}

.inputNameBox input {
    text-align: center;
    border: 1px solid black;
    height: 1.4rem;
    width: 60%;
}

.inputNameBox input:focus {
    border: 1px solid #3c69dd;
}


.editBtn {
    background-color: #6f3300;
    color: white;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.editBtn:disabled,
.editBtn[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: revert;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#categories {
    border-radius: 6px;
    background-color: #FCF9F5;
    border: 1px solid #DCCEC3;
    width: 125px;
    height: 35px;
    padding-left: 10px;
    color: #876453;
}


.btnArea {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.btnAreaLeft {
    display: flex;
}

.btnAreaCenter {
    display: flex;
    justify-content: center;
}

.btnArea > .btnAreaLeft, .btnAreaCenter, .btnAreaRight {
    flex: 1;
}

.btnAreaLeft button {
    display: flex;
}

.btnSecretImg {
    width: 75px;
}

.btnSecretIconImg {
    width: 20px;
    margin-right: 10px;
}

/* 게시판 secretBox */
.secretBox {
    border: 1px solid #CAAB9C;
    border-radius: 6px;
    width: 100%;
    margin-left: 10px;
}

.secretHeader {
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    color: #9F8578;
    background-color: #F4EEE9;
    border-radius: 6px;
}

.secretContent {
    padding: 10px;
}

.secretContentTop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
}

.secretPassword {
    border: 1px solid #CACACA;
    border-radius: 2px;
    width: 95%;
    height: 21px;
    padding-left: 5px;
}

.secretTitle {
    margin-right: 5px;
    font-size: 13px;
}

.secretContentBt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnSecretSave {
    background-color: #E7DBCD;
    color: #876453;
    border-radius: 6px;
    width: 48px;
    height: 25px;
    justify-content: center;
    align-items: center;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.plusBtn {
    background-image: url('../images/icons/plus_btn.png');
    background-repeat: no-repeat;
    background-size: 20px 23px;
    background-position: right 20px top 50%;
    width: 50px;
    height: 40px;
    cursor: pointer;
}


/**
    category css
 */

.categoryTable {
    width: 640px;
    height: 520px;
    border: 1px solid #B84F03;
    display: flex;
    justify-content: space-between;
    /*padding: 0.5rem 0.5rem;*/
}

.cateHead {
    font-size: 1rem;
    width: 100%;
    background-color: #B84F03;
    color: white;
    padding: 12px 0px;
    text-align: center;
    position: relative;
}

.cateHead button {
    position: absolute;
    top: 11px;
    margin-left: 0.2rem;

}

.cateHead i {
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
    color: white;
    border: 1px solid white;
    background-color: rgba(60, 105, 221, 0.7);
    border-radius: 0.1rem;
}

.cate {
    display: flex;
    flex-direction: column;
    width: 25%;
    border-right: 1px solid #B84F03;
}

.cate input {
    margin-left: 0.2rem;
    border: 1px solid #3c69dd !important;
    width: 95% !important;
    height: 24px !important;
    background-color: transparent !important;
    padding: 0 !important;
    /*font-size: 17px;*/
}

.cate li button i {
    color: #B84F03;
}

.cate:last-child {
    border: none;
}


.cate li {
    padding: 0.6rem 0rem 0.2rem 0rem;
    width: 100%;
    font-size: 0.9rem;
    display: flex;
}

.cate li > i {
    margin: 0 !important;
}

.mediumCate {
}

.smallCate {
}
