/**
    Modal 관련 css
 */

.simpleModalOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
}

.simpleModalWindow {
    background: white;
    width: 400px;
    height: 200px;
    position: relative;
    display: none;
    display: flex;
    flex-direction: column;
}

.simpleModalWindowBig {
    background: white;
    width: 800px;
    height: 400px;
    position: relative;
    display: none;
    display: flex;
    flex-direction: column;
}

.simpleModalWindow > .modalHeader, .simpleModalWindowBig > .modalHeader {
    background-color: #F4EEE6;
    display: flex;
    justify-content: space-between;
    padding: 0.6rem;
}

.modalHeader > p {
    color: #876453;
    font-weight: 600;
    font-size: 0.9rem;
}

.modalHeader > button {
    background-color: rgba(0, 0, 0, 0.2);
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.modalHeader > button > i {
    position: absolute;
    left: 0.16rem;
    top: 0.1rem;
}

.modalContentWrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalContentWrapper > p {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #767676;
    text-align: center;
}

.simpleModalWindow .decisionBtn {
    color: #876453;
    background-color: #E7DBCD;
    border: 1px solid #CAAB9C;
    border-radius: 1rem;
    padding: 0.3rem 2rem 0.3rem 2rem;
}

.simpleModalWindow .cancelBtn {
    color: #555555;
    background-color: #DDDDDD;
    border: 1px solid #AAAAAA;
    border-radius: 1rem;
    padding: 0.3rem 2rem 0.3rem 2rem;
}

.modalContentWrapper .tableScroll {
    height: 55%;
    width: 100%;
    overflow: auto;
    position: relative;
    min-height: 300px;
    min-width: 700px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.modalContentWrapper > div {
    width: 100%;
}

.modalContentWrapper table {
    height: auto;
    overflow-y: scroll;
    width: 100%;
    table-layout: fixed;

}

.modalContentWrapper th {
    height: 30px;
    margin: 0 auto;
    background-color: #876453;
    color: white;
    align-self: center;
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
    position: sticky;
    top: 24px;
}

.modalContentWrapper tr {
    text-align: center;
}

.modalContentWrapper td {
    padding: 0.2rem;
}

.modalContentWrapper tr:hover {
    background-color: #F4EEE6;
}

.tableBottom {
    margin-top: 0.6rem;
    position: relative;
    width: 100%;
}

.tableBottom > div > button {

}

.tableScroll > div:nth-child(1) {
    background-color: #F4EEE6;
    text-align: left;
    padding: 0.3rem;
    position: sticky;
    top: 0;
    color: #3D3D3D;
}

#draggable tr.hover {
    background-color: #876453;
    color: white;
}

.inputAddr {
    width: 90% !important;
    margin: 0 !important;
    padding: 0.3rem 0.2rem 0.3rem 0.2rem !important;

}

.inputAddr.readonly {
    text-decoration: none;
    border: none;
}

.inputAddr.modify:focus {
    background-color: #876453;
    color: white;
}