@import "reset.css";

@font-face {
    font-family: "Playfair Display", serif;
    src: url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Pretendard-lighter';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-style: normal;
}


@font-face {
    font-family: 'Pretendard-bolder';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-style: normal;
}

:root {
    --background-color: #FCF9F6;
    --font-color: #2B2928;
    --footer-color: #E7DBCD;
    --footer-divider-color: #D0C5B7;
    --footer-font-color: #6A6054;
    --brown-font: #876453;
    --font-grey-color: #828282;
    --input-border-color: #E0E0E0;
    --black-color: #333333;
    --grey-font-color: #767676;
}


body {
    background-color: var(--background-color);
    font-family: Pretendard-Regular;
    font-size: 0.7rem;
    color: var(--font-color);
}

hr {
    border: 1px var(--footer-divider-color) solid;
    border-radius: 1rem;
}

.container {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    width: 1280px;
    padding-top: 1rem;
}

.leftHeader {
    display: flex;
    width: 50%;
    color: black;
    align-items: center;
}

.leftHeader > ul > li > .home {
    font-family: "Playfair Display", serif;
    font-size: x-large;
}

.home_admin {
    font-family: "Playfair Display", serif;
    font-size: large;
}

.home_admin > span {
    font-family: "Playfair Display", serif;
    font-size: x-small;
}


.leftHeader > ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-size: 0.8rem;
}

.logo {
    max-width: 75px;
    min-width: 75px;
}

.rightHeader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.rightHeader > ul {
    width: 80%;
}

.searchContainer {
    width: 70%;
}

.searchBox {
    border-radius: 0.7rem;
    /*border: black 1px solid;*/
    padding: 0.7rem;
    background-color: #EFECE8;
    display: flex;
    justify-content: space-between;
}

.searchBox > * {
    border: none;
}

.searchText {
    background-color: #EFECE8;
    width: 80%;
    outline: none;
    font-size: 0.7rem;
}

.searchBox > button {
    background-color: transparent;
}

.memberContainer {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
}

.memberContainer > button, .memberContainer > form > button {
    border: none;
    background-color: transparent;
    font-size: 0.8rem;
    color: var(--font-grey-color);
    cursor: pointer;
}

.memberContainer > button > a {
    color: var(--font-grey-color);
}


a {
    text-decoration: none;
    color: black;
}

.banner {
    width: 100vw;
}

.content {
    width: 1280px;
}

footer {
    background-color: var(--footer-color);
    display: flex;
    justify-content: center;
    color: var(--footer-font-color);
}

.footerContainer > h3 {
    color: black;
}

.footerContainer {
    width: 1280px;
    padding: 1rem;
}

.footerContainer > .contact {
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 0.7rem;
}

.companyInfo {
    display: flex;
    justify-content: space-between;

}

.rightInfo {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.rightInfo > ul {
    padding-left: 2rem;
    text-align: end;
}

.rightInfo > ul > li {
    padding-bottom: 0.5rem;
}

.rightInfo > ul > li > a {
    color: var(--footer-font-color);
}

.companyInfo > .leftInfo > * {
    padding-bottom: 0.5rem;
}

.bold {
    font-weight: bold;
}

.companyInfo > .leftInfo > .companyName {
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.bannerContainer {
    margin-top: 1rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: calc((100% - 1280px) / 2 + (1280px * -3) + (2rem * -4))
}

.imgWrap {
    position: relative;
    opacity: 70%;
    margin: 1rem;
    width: 100%;
}

.bannerImg {
    border-radius: 1rem;
    vertical-align: middle;

}

.banner {
    overflow: hidden;
    width: 100%;
}

.bannerTxtContainer {
    position: absolute;
    top: 65%;
    left: 5%;
    width: 100%;
    font-weight: bolder;
}

.bannerArrow {
    width: 3rem;
    padding: 0.5rem;
    background-color: #000000;
    opacity: 30%;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    transition: all;
    transition-duration: 1000s;
}

.bannerArrow > button {
    border: none;
    background-color: transparent;
    font-size: 0.8rem;
    color: var(--font-grey-color);
    cursor: pointer;
}

.bannerTxt {
    font-size: 2.7rem;
    background: -webkit-linear-gradient(#200122, #6f0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bannerTxtDetail {
    font-size: 0.9rem;
}

.bannerMain {
    opacity: 100%;
    width: 100%;
}

.mainImg {
    height: 418px;
}

.userFormBg {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginCheckbox {
    display: flex;
    align-items: center;
    accent-color: var(--brown-font);
    margin-top: 0.1rem;
    margin-bottom: 1rem;
}

.loginCheckbox > * {
    color: var(--brown-font);
    font-size: 0.8rem;
}

.loginCheckbox > label {
    margin-left: 0.2rem;
}

.loginTitle {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.loginBtn {
    width: 100%;
    padding: 1rem;
    background-color: var(--black-color);
    border-radius: 0.7rem;
    color: white;
    margin-bottom: 1rem;
}


.helpNav {
    text-align: center;
}

.helpNav > a:not(:last-child)::after {
    margin-left: 0.5rem;
    content: "|";
    margin-right: 0.5rem;
}

.helpNav > a {
    color: var(--grey-font-color);
    font-size: 0.7rem;
}

.social img {
    width: 1.4rem;
    position: relative;
}

.social span {
    width: 100%;
    text-align: center;
    font-size: larger;
    font-family: Pretendard-bold;
}


.googleBtn {
    background-color: white;
    outline: 1px solid #E0E0E0;
}

.kakaoBtn {
    background-color: #f8e200;
}

.naverBtn {
    background-color: #0EC114;
    color: white;
}

.socialBtn {
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;

    margin-top: 1rem;
}


.formContainer {
    display: grid;
    /*width: 100%;*/
}

.userFormWrapper input {
    border: 1px solid var(--input-border-color);
    border-radius: 0.3rem;
    height: 41px;
}

.userFormWrapper > p {
    height: 17%;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    color: var(--font-color);
    padding-top: 5%;
}

.formContainer {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.formContainer > input {
    padding: 0.7rem;
    border-radius: 0.6rem;
    margin-bottom: 0.3rem;
    border: 1px solid var(--input-border-color);
}

.passwordWrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.passwordWrapper > div {
    position: absolute;
    z-index: 2;
    right: 3rem;
    border: none;
    background-color: transparent;
}

.helpLink {
    text-decoration: underline;
}

.hide {
    display: none;
}

.only-admin {
    background-color: #6f0000;
    padding: 0.4rem;
    border-radius: 0.2rem;
}

.only-admin > * {
    color: white;
}