<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/fragments/layout}"
>
<head>

</head>
<div layout:fragment="content">
	<div>
        <p class="title"><span>상품 관리</span></p>
    </div>
    <div id="container">
    	<div class="searchArea">
			<input type="text" title="상품명" placeholder="상품명" id="productName">
			<div class="datepickerWrap mgl10">
				<input type="text" class="datepickerInput" placeholder="등록시작일" readonly="readonly" id="strDt"/>
				<span class="datepickerDash">~</span>
				<input type="text" class="datepickerInput" placeholder="등록종료일" readonly="readonly" id="endDt"/>
			</div>
			<button class="searchBtn"></button>
		</div>

        <div class="btnArea">
        	<div class="btnLeftArea">
                <span class="searchResult bold">
					검색 결과 <em id="total" class="total">00</em> /
				</span>
				<select id="pageSize">
					<option value="10" selected>10</option>
					<option value="20">20</option>
					<option value="30">30</option>
				</select>
            </div>
            <div class="btnRightArea">
                <button type="button" id="registBtn" class="commBtn mgl10">상품 등록</button>
            </div>
        </div>

		<div>
			<table class="boardTable listTable mgt20">
			    <colgroup>
			        <col style="width: 5%;"/>
			        <col style="width: 8%;"/>
			        <col style="width: 6%;"/>
			        <col style="width: 6%;"/>
			        <col style="width: 8%;"/>
			        <col style="width: auto;"/>
			        <col style="width: 10%;"/>
			        <col style="width: 10%;"/>
			        <col style="width: 5%;"/>
			        <col style="width: 5%;"/>
			        <col style="width: 12%;"/>
			    </colgroup>
			    <thead>
			    <tr>
			        <th class="alCenter">No.</th>
			        <th class="alCenter">미리보기</th>
			        <th class="alCenter">상품코드</th>
			        <th class="alCenter">진열상태</th>
			        <th class="alCenter">판매상태</th>
			        <th class="alCenter">상품명</th>
			        <th class="alCenter">판매가</th>
			        <th class="alCenter">할인가</th>
			        <th class="alCenter">재고수량</th>
			        <th class="alCenter">판매수량</th>
			        <th class="alCenter">등록일</th>
			    </tr>
			    </thead>
			    <tbody id="listArea">
			    </tbody>
			</table>
		</div>

        <input type="hidden" name="page" id="page" value="0"/>
        <ul id="pagingArea" class="pagination"></ul>
    </div>
<script th:inline="javascript">
$(document).ready(function() {
	// setSearchInit('searchArea');
	load();

	$("#registBtn").on("click",function() {
		moveUrl("/" + siteId + "/product/regist");
	});

// 	$("#listArea").on("click", ".delBtn", function(e) {
// 		var delProductId = $(this).attr('id').replace("del_",'');
// 		delProduct(delProductId);
//     });

    $("#productName").on("keydown", function (event) {
        if (event.key === 'Enter') {
            getList(0);
        };
    });

    $(".searchBtn").on("click", function(event) {
    	getList(0);
    });

    // 검색 결과 페이지 수 변경시
    $('#pageSize').change(function() {
		const cntPerPage = $(this).val();
		const page = 1;
		const nowParams = {page, cntPerPage};

		getList(0, cntPerPage);
	});
    
    $('#listArea').on('click','#popupImg', function() {
		let imgUrl = $(this).attr('src');
		
		const tempImg = new Image();
	    tempImg.src = imgUrl;
		
	    tempImg.onload = function () {
	        const imgWidth = tempImg.width;
	        const imgHeight = tempImg.height;

	        
	        // 팝업 크기와 위치 동적 계산
	        const popupWidth = imgWidth + 20; // 여백 포함
	        const popupHeight = imgHeight + 20;
	        const screenWidth = window.screen.width;
	        const screenHeight = window.screen.height;
	        const left = (screenWidth - popupWidth) / 2;
	        const top = (screenHeight - popupHeight) / 2;

	        // 팝업 창 열기
	        const popup = window.open(
	            '',
	            '_blank',
	            `width=${popupWidth}px, height=${popupHeight}px, top=${top}, left=${left}`
	        );

	        popup.document.write(`
                <style>
                    body { margin: 0; display: flex; align-items: center; justify-content: center; height: 100%; }
                    img { display: block; max-width: 100%; max-height: 100%; }
                </style>
                <img src="${imgUrl}">
            `);
	    };

	    tempImg.onerror = function () {
	        alert('이미지를 불러올 수 없습니다.');
	    };
    });
});

async function load() {
	await getCodeList();
	await getList();
}

async function getList(pageNo,cntPerPage) {
	pageNo = pageNo ?? 0;
	cntPerPage = cntPerPage ?? 10;

	let productName = $("#productName").val();
	let strDt = $("#strDt").val();
	let endDt = $("#endDt").val();

	params = {
		productName : productName,
		strDt : strDt,
		endDt : endDt,
		cntPerPage : cntPerPage
	}

	// let url = "/rest/admin/product/list?page="+pageNo;
	const res = await axios.get("/rest/" + siteId + "/product/list?page="+pageNo, {params});
	if (!res || !res.data) {
		openAlert({contents: '상품 목록을 불러오는데 실패했습니다. <br/> 다시 시도해주세요.'});
		return;
	};

	data = res.data.list ?? [];

	// 검색결과 노출 수 변경마다 totalPageCount 값 변경
	const totalPageCount = Math.ceil(data.totalElements / cntPerPage);

	PAGE.paging(totalPageCount, data.number, data.totalElements, "getList");

	setList(data);
}

function setList(data){
	$('#listArea').empty();

	productList = data.content;

	let listLength = productList.length;
	// let productCodeList = codeList.filter((item) => {return item.grpCd === 'PRODUCT_DV_CD'});

	let cnt = 0;
	if(listLength > 0) {
		productList.forEach((item) => {
			let lumitFiles = item.filePath ? item.filePath.substring('2') : ''
			
			$('#listArea').append(`
				<tr>
					<td class='alCenter'>${PAGE.pageRowNumber(data.number, data.size, cnt++, data.totalElements)}</td>
					<td class='alCenter'>
					 	${item.filePath ? 
							`<img src='${lumitFiles}/${item.fileNewName}' style='width:50px; height:50px; cursor:pointer; vertical-align: middle;' id='popupImg'>`
							: ''
					 	}
					</td>
					<td class='alCenter'>
						${item.productCd}
					</td>
					<td class='alCenter'>
						${item.dpStatus}
					</td>
					<td class='alCenter'>
						${item.status ? codeList.find((cdItem) => cdItem.grpCd === 'PD_STATUS' && cdItem.cd == item.status).cdNm ?? '' : ''}
					</td>
					<td class='alLeft tdTitle'>
						<a href="javascript: detail('${item.productId}')">
							${item.productName}
						</a>
					</td>
					<td class="alCenter">
						${formatToWon(item.price)}
					</td>
					<td class="alCenter">
						${formatToWon(item.disPrice)}
					</td>
					<td class='alCenter'>
						${item.stocks}개
					</td>
					<td class='alCenter'>
						${item.sales}개
					</td>
					<td class="alCenter">
						${item.regDt}
					</td>
				</tr>
			`);
		});
	}else {
		$('#listArea').append(`
			<tr>
				<td class='alCenter' colspan='11'>검색 결과가 없습니다.</td>
			</tr>
		`);
	}

}

function detail(id) {
	moveUrl("/" + siteId + "/product/update/" + id);
}

function formatToWon(num) {
    if (!num) return "";
    return Number(num).toLocaleString('ko-KR') + "원";
  }


// async function delProduct(productId) {

// 	if(confirm("삭제 하시겠습니까?")) {
// 		let params = {
// 			productId : productId,
// 		};

// 		const res = await axios.post('/rest/admin/product/delete', params);

// 		if(!res){
// 			alert('삭제에 실패했습니다. <br/>다시 시도해주세요.');
// 			return;
// 		}

// 		getList(0);
// 	}
// };

</script>
</div>

</html>