<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/fragments/layout}">
<head>
    <!-- Jodit 에디터 라이브러리 추가 -->
    <script src="/js/jodit.min.js"></script>
    <link href="/css/jodit.min.css" rel="stylesheet">

    <style>
        .flex_align {
            display: flex;
            align-items: center;
        }

        .alLeft {
            min-width: 115px;
        }

        .categoryContainer {
            width: 100%;
            max-height: 350px;
        }

        .cateHead {
            font-size: 1rem;
            width: 100%;
            background-color: var(--brand-color1);
            color: white;
            padding: 0px 0px;
            position: relative;
            height: 35px;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .categoryTable {
            min-height: 300px;
            max-height: 300px;
        }

        .cate li {
            padding: 0.0rem 0.3rem 0rem 0.3rem;
            box-sizing: border-box;
        }

        .cate_add_btn {
            width: 100px;
            line-height: 25px;
            background: #E7DBCD;
            border-radius: 5px;
            color: #876453;
            border: 1px solid #CAAB9C;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        #cateAddBtnArea {
            padding: 10px 0px;
            display: flex;
            justify-content: flex-end;
        }

        .categoryList {
            margin-top: 10px;
            width: 100%;
            min-height: 100px;
            border: 1px solid var(--brand-color1);
            border-radius: 0.3rem;
        }
    </style>
</head>

<div layout:fragment="content">
    <div>
        <p class="title">상품 관리 수정</p>
    </div>

    <div class="contentWrap">
        <div class="boardContainer wsNorap">
            <form id="registForm" method="post" entype="multipart/form-data" onsubmit="return false">

                <table class="registTable">
                    <colgroup>
                        <col style="width: 10%;"/>
                        <col style="width: 90%;"/>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th class="alLeft bold">상품 이미지</th> <!-- 기본 1000x1000 최소 500x500 -->
                        <td>
                            <div id="imgList" class="form__input--img_wrap">
	                        		<span class="figure" id="repImg1">
										<a href="#none" style="cursor: default;" class="rep_a">
											<img src="/images/noImage108x108.gif" class="noImg" width="108" height="108"
                                                 alt="">
										</a>
									</span>
                                <span class="figure" id="repImg2">
										<a href="#none" style="cursor: default;" class="rep_a">
											<img src="/images/noImage108x108.gif" class="noImg" width="108" height="108"
                                                 alt="">
										</a>
									</span>
                                <span class="figure" id="repImg3">
										<a href="#none" style="cursor: default;" class="rep_a">
											<img src="/images/noImage108x108.gif" class="noImg" width="108" height="108"
                                                 alt="">
										</a>
									</span>
                                <span class="figure" id="repImg4">
										<a href="#none" style="cursor: default;" class="rep_a">
											<img src="/images/noImage108x108.gif" class="noImg" width="108" height="108"
                                                 alt="">
										</a>
									</span>
                                <span class="figure" id="repImg5">
										<a href="#none" style="cursor: default;" class="rep_a">
											<img src="/images/noImage108x108.gif" class="noImg" width="108" height="108"
                                                 alt="">
										</a>
									</span>
                            </div>
                            <div class="form__input--file_wrap">
                                <div class="form__input--top_wrap">
                                    <input class="form__input--file" id="uploadRep" type="file" multiple>
                                    <label class="form__label--file" for="uploadRep">추가</label>
                                    <span class="form__span--txt">※ 최대 5개까지 첨부 가능합니다.</span>
                                </div>
                                <div class="form__input--bottom_wrap">
                                    <div class="form__div--file_rep"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="alLeft bold">카테고리</th>
                        <td>
                            <div id="container" class="categoryContainer">
                                <div id="cateAddBtnArea">
                                    <button type="button" class="cate_add_btn" id="cateAddBtn"
                                            onClick="selectCateAddBtnClick()">선택 후 추가
                                    </button>
                                </div>
                                <div class="categoryTable">
                                    <div class="cate largeCate">
                                        <div class="cateHead">대분류
                                        </div>
                                        <ul class='topCategoryList'></ul>
                                    </div>
                                    <div class="cate mediumCate">
                                        <div class="cateHead">중분류
                                        </div>
                                        <ul class="middleCategoryList"></ul>
                                        <input type="hidden" class="parentId">
                                    </div>
                                    <div class="cate smallCate">
                                        <div class="cateHead">소분류
                                        </div>
                                        <ul class="bottomCategoryList"></ul>
                                        <input type="hidden" class="parentId">
                                    </div>
                                    <div class="cate detailCate">
                                        <div class="cateHead">상세분류
                                        </div>
                                        <ul class="detailCategoryList"></ul>
                                        <input type="hidden" class="parentId">
                                    </div>
                                </div>
                            </div>
                            <div class="categoryList">
                                <div class="cateHead">선택된 상품분류</div>
                                <ul class="cateBody"></ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="alLeft bold">상품명</th>
                        <td>
                            <input type="text" id="productName" name="productName" class="boardInp w100"
                                   placeholder="상품명을 입력해주세요." maxlength="255">
                        </td>
                    </tr>
                    <tr>
                        <th class="alLeft bold">재고수량</th> <!-- TODO : 재고수량 10개 미만일시 대시보드에 알림 -->
                        <td>
                            <input type="text" id="stocks" name="stocks" class="boardInp w15" placeholder="재고수량"
                                   maxlength="11">
                        </td>
                    </tr>
                    <tr>
                        <th class="alLeft bold">상품코드</th>
                        <td>
                            <span id="productCd" class='col brand4'></span>
                        </td>
                    </tr>
                    <tr>
                        <th class="alLeft bold">진열상태</th>
                        <td>
                            <select id="dpStatus"></select>
                        </td>
                    </tr>
                    <tr>
                        <th class="alLeft bold">판매상태</th>
                        <td>
                            <select id="status"></select>
                        </td>
                    </tr>
                    <tr>
                        <th class="alLeft bold">상품 요약설명</th>
                        <td>
                            <input type="text" id="summation" name="summation" class="boardInp w100"
                                   placeholder="상품 요약설명을 입력해주세요." maxlength="1000">
                        </td>
                    </tr>
                    <tr>
                        <th class="alLeft bold">옵션 상품코드</th>
                        <td>
                            <select id="optionId">
                                <option>어떻게 매칭할지 고민</option>
                                <option value="1">상품명 검색하면 상품코드 가져오기?</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="alLeft bold">정가</th>
                        <td>
                            <input type="text" id="price" name="price" class="boardInp w15" placeholder=""
                                   maxlength="11"> 원
                        </td>
                    </tr>
                    <tr>
                        <th class="alLeft bold">할인율 설정</th>
                        <td>
                            <input type="text" id="disRate" name="disRate" class="boardInp w15" placeholder="" value="0"
                                   maxlength="11"> %
                        </td>
                    </tr>
                    <tr>
                        <th class="alLeft bold">할인가(판매가)</th>
                        <td>
                            <input type="text" id="disPrice" name="disPrice" class="boardInp w15" placeholder=""
                                   maxlength="11"> 원
                        </td>
                    </tr>
                    <tr>
                        <th class="alLeft bold">배송비</th>
                        <td>
                            <input type="text" id="deliveryFee" name="deliveryFee" class="boardInp w15" placeholder=""
                                   maxlength="50"> 원
                        </td>
                    </tr>
                    <tr>
                        <th class="alLeft bold">무료배송 설정</th>
                        <td>
                            <input type="text" id="freeDeliveryFee" name="freeDeliveryFee" class="boardInp w15"
                                   placeholder="" maxlength="50"> 원 이상 주문시 무료배송
                            <input type="checkbox" id="freeFeeCheck">
                            <label for="freeFeeCheck">체크시 적용</label>
                        </td>
                    </tr>
                    <tr>
                        <th class="alLeft bold">색상</th>
                        <td>
                            <div class="flexRow">
                                <select id="color">
                                </select>
                                <button type="button" id="addColorBtn" class="plusBtn"></button>
                            </div>
                            <div id="colorWrap" class="flex_align"></div>
                        </td>
                    </tr>
                    <tr>
                        <th class="alLeft bold">태그</th>
                        <td>
                            <div class="flexRow">
                                <select id="tag">
                                </select>
                                <button type="button" id="addTagBtn" class="plusBtn"></button>
                            </div>
                            <div id="tagWrap" class="flex_align"></div>
                        </td>
                    </tr>
                    <tr>
                        <th class="alLeft bold">상세 페이지</th> <!-- 기본 1000x1000 최소 500x500 -->
                        <td class="textEditor">
                            <textarea id="editor" name="content"></textarea>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="btnArea">
                    <div class="btnAreaLeft">
                    </div>
                    <div class="btnAreaCenter">
                        <button onClick="javascript:history.back();" type="button" id="backBtn" class="commBtn">이전
                        </button>
                        <button type="button" id="updateBtn" class="commBtn mgl10 size100">저장</button>
                        <button type="button" id="deleteBtn" class="commBtn mgl10">삭제</button>
                    </div>
                    <div class="btnAreaRight">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</html>


<script th:inline="javascript">

    let menuCd = [[${menuCd}]];
    let productId = [[${productId}]];
    let filesRep = []; // 실제 대표이미지 파일 담는 arr
    let files = []; // 실제 상세 이미지 파일 담는 arr
    let fileIdx = 1;
    let beforeFiles = []; // 백업용
    let colorList = [];
    let tagList = [];
    let colorIdList = [];
    let tagIdList = [];
    let editor;
    let newJsonFilesList = [];
    //카테고리 영역
    let selectCateIdList = new Set();
    let selectCateTxtList = [];
    let currentIdList = [];
    let currentTxtList = [];

    document.addEventListener("DOMContentLoaded", async function () {
        load();

        $("#addColorBtn").on("click", function () {
            if (!colorIdList.some((item) => item === $("#color").val())) {
                colorIdList.push($("#color").val());

                let colorCd = $("#color").find('option:selected').data("colorcd");
                let colorVal = $("#color").find('option:selected').val();

                colorCd ?
                    $("#colorWrap").append(
                        `<div class="flex_align" style="margin-right:10px;">
				<input type="color" value=${colorCd} disabled> ` + $("#color").find("option:selected").text()
                        + `<img src="/images/icons/icon_cancel.png" width="15" style="margin-left:5px; cursor: pointer;" class="delete_color_btn" data-val=${colorVal} onClick="deleteColorBtn(this)">
				</div>`
                    )
                    : $("#colorWrap").append($("#color").find("option:selected").text());
            }
        });

        $("#addTagBtn").on("click", function () {
            if (!tagIdList.some((item) => item === $("#tag").val())) {
                tagIdList.push($("#tag").val());


                let tagVal = $("#tag").find('option:selected').val();

                $("#tagWrap").append(
                    `<div class="flex_align" style="margin-right:10px;">`
                    + $("#tag").find("option:selected").text()
                    + `<img src="/images/icons/icon_cancel.png" width="15" style="margin-left:5px cursor: pointer;" class="delete_tag_btn" data-val=${tagVal} onClick="deleteTagBtn(this)">
				 </div>`
                );
            }
        });

        $("#disRate,#price").on("keyup", function (e) {
            if (!$("#price").val() || !$("#disRate").val()) {
                return;
            }

            if ($("#price").val() < 0) {
                alert("정가가 0원 이하일 수 없습니다.");
                return;
            }

            if ($("#disRate").val() >= 100) {
                alert("할인율이 100% 이상일 수 없습니다.");
                return;
            }

            let price = $("#price").val();
            let disRate = $("#disRate").val();

            $("#disPrice").val(price - (price * (disRate * 0.01)));
        });


        $("#disPrice").on("keyup", function (e) {
            $("#disRate").val("0");
        });

        $('#deleteBtn').on('click', async function () {
            if (confirm("삭제 하시겠습니까?")) {

                const res = await axios.post('/rest/' + siteId + '/product/delete', {productId: productId, delYn: 'Y'});
                if (!res || !res.data) {
                    alert("삭제에 실패하였습니다.");
                    return;
                }
                let url = "/" + siteId + "/product/list";
                moveUrl(url);
            }
        });

        $("#updateBtn").on('click', function () {
            if (confirm("저장 하시겠습니까?")) {

                let formData = new FormData(document.querySelector("#registForm"));
                let params = {};

                if (filesRep.length === 0) {
                    formData.append('filesRep', []);
                } else {
                    for (var i = 0; i < filesRep.length; i++) {

                        if (filesRep[i].file) {
                            // 새로 추가한 파일
                            formData.append('filesRep', filesRep[i].file);

                            // 기존 이미지 이외 새로 추가한 files의 seq를 저장하기 위한 보조 json정보
                            const jsonFile = {
                                fileSeq: i + 1,
                                fileDvCd: i == 0 ? '1000' : '1001',
                                pkId: productId
                            }

                            newJsonFilesList.push(jsonFile);

                        } else {

                            // 기존 파일
                            const jsonFile = {
                                fileId: filesRep[i].fileId,
                                pkId: productId,
                                fileDvCd: i == 0 ? '1000' : '1001',
                                menuCd: filesRep[i].menuCd,
                                fileName: filesRep[i].name,
                                fileNewName: filesRep[i].newName,
                                filePath: filesRep[i].url,
                                fileSize: filesRep[i].size,
                                fileType: filesRep[i].type,
                                fileExtension: filesRep[i].ext,
                                fileSeq: i + 1,
                                regId: 'admin'
                            };

                            formData.append('jsonFilesList', JSON.stringify(jsonFile))

                        }
                    }
                }

                formData.append('newJsonFilesList', JSON.stringify(newJsonFilesList));

                if ($("#price").val() < $("#disPrice").val()) {
                    alert("할인가가 정가보다 클 수 없습니다.");
                    return;
                }

                if (productId) {
                    formData.append("productId", productId ?? '');
                }

                if ($("#optionId").val() != "") {
                    formData.append("optionId", $("#optionId").val() ?? '');
                }
                if ($("#dpStatus").val() != "") {
                    formData.append("dpStatus", $("#dpStatus").val() ?? '');
                }
                if ($("#status").val() != "") {
                    formData.append("status", $("#status").val() ?? '');
                }
                if (selectCateIdList.size > 0) {
                    formData.append("cateIdList", Array.from(selectCateIdList));
                }

                formData.append("colorIdList", colorIdList ?? []);
                formData.append("tagIdList", tagIdList ?? []);

                for (let [key, value] of formData.entries()) {

                    if (key == "freeDeliveryFee") {
                        let deliveryFeeChk = $("#freeFeeCheck").prop("checked");
                        if (!deliveryFeeChk) {
                            formData.delete("freeDeliveryFee");
                            formData.append("freeDeliveryFee", "nonFree");
                        }
                    }

                    if (key != "files" && key != "filesRep" && key != "colorIdList" && key != "tagIdList" && key != "freeDeliveryFee") {
                        if (value.trim() == "" || value.trim() == undefined || value.trim() == null) {
                            alert("입력하지 않은 값이 있는지 확인해주세요.");
                            return;
                        }
                    }
                }

                let url = "/" + siteId + "/product/list";
                setData(formData, url);
            }
        });


        // input file 커스텀 - 파일명 붙이기
        let fileTarget = $('.form__input--file_wrap input');

        const mb = 1024 * 1024; //1mb(메가)
        const limitSize = mb * 10;

        fileTarget.on('change', function () {
            let selectId = $(this).attr('id');

            if (selectId == 'uploadRep') {
                for (var i = 0; i < this.files.length; i++) {
                    let addFile = this.files[i];

                    if (files.length >= 5) {
                        alert('최대 5개까지 첨부 가능합니다.');
                        break;
                    }

                    let isDplChk = false;

                    _.forEach(filesRep, function (file) {

                        if (file?.file) {
                            if (file?.file.name === addFile.name) {
                                isDplChk = true;
                            }
                            return;
                        } else if (file?.url) {
                            if (file?.name === addFile.name) {
                                isDplChk = true;
                            }
                            return;
                        }

                    })

                    if (isDplChk) {
                        alert('동일한 파일 명이 존재합니다.');
                        continue;
                    }

                    var uploadSize = this.files[i].size;

                    if (limitSize < uploadSize) {
                        alert('10MB 사이즈 미만의 파일만 업로드가 가능합니다. \n' + this.files[i].name + '파일을 업로드할 수 없습니다.');
                        continue;
                    } else {

                        addFile['idx'] = filesRep.length > 0 ? filesRep[filesRep.length - 1].idx + 1 : 1;
                        addFile['blobUrl'] = URL.createObjectURL(addFile);

                        // 기존 detail에서 가져온 값이랑 포맷을 맞추기 위함
                        let newFile = {
                            idx: addFile['idx'],
                            name: addFile.name,
                            size: addFile.size,
                            type: addFile.type,
                            file: addFile, // ← 이게 있어야 img에 src를 넣을 때 createObjectURL 가능
                            isSaved: false, // 이건 기존 파일이 아님을 구분하기 위한 flag
                            blobUrl: addFile['blobUrl']
                        };

                        filesRep.push(newFile);
                    }
                }
            } else { // TODO :: 원래는 대표이미지, 상세이미지 둘 다 비슷한 방식으로 저장하려 했으나, textEditor 도입으로 분기 필요 없어짐. 정리예정
                for (var i = 0; i < this.files.length; i++) {
                    if (files.length >= 5) {
                        alert('최대 5개까지 첨부 가능합니다.');
                        break;
                    }

                    var uploadSize = this.files[i].size;

                    if (limitSize < uploadSize) {
                        alert('10MB 사이즈 미만의 파일만 업로드가 가능합니다. \n' + this.files[i].name + '파일을 업로드할 수 없습니다.');
                    } else {
                        var file = this.files[i];

                        file['idx'] = fileIdx;
                        files.push(file);
                        fileIdx++;
                    }
                }
            }
            $(this).val('');
            setFiles(selectId);
        });

    });

    async function load() {
        initTextEditor();
        if (filesRep.length != 0) imgDragDrop();

        await getProductDetail();
        await getColorMappingList();
        await getTagMappingList();

        await getCodeList();
        await getColorOption();
        await getTagOption();

        createSelectOptions("status", codeList.filter((item) => item.grpCd === 'PD_STATUS'), {
            selectedValue: '0000',
            keyNm: "cd",
            valueNm: "cdNm"
        });
        createSelectOptions("dpStatus", codeList.filter((item) => item.grpCd === 'DP_STATUS'), {
            selectedValue: '0000',
            keyNm: "cd",
            valueNm: "cdNm"
        });
        createSelectOptions("color", colorList, {
            selectedValue: '0000',
            keyNm: "optionId",
            valueNm: "optionName",
            colorCd: "optionCd"
        });
        createSelectOptions("tag", tagList, {selectedValue: '0001', keyNm: "optionId", valueNm: "optionName"});

        // 카테고리 영역
        getParent("", ".topCategoryList");
        getCategories();


    }

    async function getCategories() {
        let params = {
            productId: productId,
        };

        const res = await axios.post('/rest/' + siteId + '/product/cate-list', params);

        const categories = res.data.cateList;

        if (!res || !res.data) {
            alert("등록에 실패하였습니다.");
            return;
        }

        // cateId를 기준으로 cate정보를 넣음
        const categoryMap = {};
        categories.forEach(c => {
            categoryMap[c.categoryId] = c;
        });

        console.log("categoryMap:::");
        console.log(categoryMap);

        // 최하위 노드 (상세 분류) 찾기
        const leafNodes = categories.filter(c => {
            return !categories.some(other => other.parent === c.categoryId);
        });

        console.log(leafNodes);

        // 각 최하위 노드에서 경로 구성
        leafNodes.forEach(node => {
            const fulltxts = buildFullPath(node.categoryId, categoryMap);
            const pathStr = fulltxts.join(' > ');

            const fullIds = buildFullIdPath(node.categoryId, categoryMap);

            // 중복 방지
            if (!selectCateTxtList.includes(pathStr)) {
                selectCateTxtList.push(pathStr);
            }
            ;

            // path fullIds
            fullIds.forEach(id => selectCateIdList.add(id));
            currentIdList = fullIds;

            // path fulltxts
            fulltxts.forEach(catName => {
                const categoryId = Object.keys(categoryMap).find(
                    key => categoryMap[key].categoryName === catName
                );
                if (categoryId) selectCateIdList.add(categoryId);
            });

            // DOM에 추가
            const ul = document.querySelector('.cateBody');
            const li = document.createElement('li');
            li.textContent = pathStr + ' ';
            li.style.cssText = "padding-left: 20px;";

            li.setAttribute('data-path', pathStr); // 나중에 비교용
            li.setAttribute('data-ids', currentIdList.join(',')); // 나중에 ID 추출용

            const btn = document.createElement('button');

            btn.textContent = '✖';
            btn.style.marginLeft = '5px';
            btn.style.color = 'red';
            btn.style.cursor = 'pointer';

            btn.addEventListener('click', function () {
                selectCateTxtList = selectCateTxtList.filter(txt => txt !== pathStr);

                const idsToRemove = li.getAttribute('data-ids').split(',');

                // ID들 하나씩 중복 여부 체크 후 안전하게 삭제
                idsToRemove.forEach(id => {
                    const isUsedElsewhere = selectCateTxtList.some(txt => {
                        const matchingLi = document.querySelector(`li[data-path="${txt}"]`);
                        if (!matchingLi) return false;
                        const ids = matchingLi.getAttribute('data-ids').split(',');
                        return ids.includes(id);
                    });

                    if (!isUsedElsewhere) {
                        selectCateIdList.delete(id);
                    }
                });

                li.remove();
                // 디버깅 출력
                console.log('선택된 전체 경로들:', selectCateTxtList);
                console.log('선택된 ID들 (중복 제거):', selectCateIdList);
            });
            li.appendChild(btn);
            ul.appendChild(li);

        });
    }

    // 카테고리 적용 txt fullPath
    function buildFullPath(categoryId, categoryMap) {
        const path = [];
        let current = categoryMap[categoryId];

        // 부모를 찾아서 unshift로 계속 앞에 넣어줌, parent가 0이되면 멈춤
        while (current) {
            path.unshift(current.categoryName); // 앞에 넣기
            if (!current.parent || current.parent === "0") break;
            current = categoryMap[current.parent];
        }

        return path;
    }

    // 카테고리 적용 id fullPath
    function buildFullIdPath(categoryId, categoryMap) {
        const ids = [];
        let current = categoryMap[categoryId];

        // 부모를 찾아서 unshift로 계속 앞에 넣어줌, parent가 0이되면 멈춤
        while (current) {
            ids.unshift(current.categoryId); // 앞에 추가
            if (!current.parent || current.parent === "0") break;
            current = categoryMap[current.parent];
        }

        return ids;
    }

    async function getParent(id, className) {
        const url = id ? `/rest/admin/category/list/${id}` : "/rest/admin/category/list";
        const result = await FETCH.get(url);
        renderCategoryList(result, className, id);
        return result;
    }

    function renderCategoryList(categories, ulSelector, parentId) {
        const ul = document.querySelector(ulSelector);
        const html = categories.map(c => `
	<li>
	    <input type="hidden" value="${c.categoryId}">
	    <i class="fa-solid fa-folder"></i>
	    <div>${c.categoryName}</div>
	</li>
	`).join("");

        ul.innerHTML = html;

        if (ulSelector !== ".topCategoryList") {
            ul.nextElementSibling.value = parentId;
        }

        ul.querySelectorAll("li").forEach(li => {
            li.addEventListener("click", () => handleCategoryClick(li, ulSelector));
        });
    }

    const depthOrder = [".topCategoryList", ".middleCategoryList", ".bottomCategoryList", ".detailCategoryList"];

    const depthMap = {
        ".topCategoryList": {nextUl: ".middleCategoryList", resetFrom: 0},
        ".middleCategoryList": {nextUl: ".bottomCategoryList", resetFrom: 1},
        ".bottomCategoryList": {nextUl: ".detailCategoryList", resetFrom: 2}
    };

    function resetLowerLists(fromDepth) {
        for (let i = fromDepth + 1; i < depthOrder.length; i++) {
            const ul = document.querySelector(depthOrder[i]);
            ul.innerHTML = "";
            ul.querySelectorAll("li.active").forEach(li => li.classList.remove("active"));

            const hidden = ul.nextElementSibling;
            if (hidden && hidden.classList.contains("parentId")) hidden.value = "";
        }
    }

    let lastClickedLi = null;

    async function handleCategoryClick(li, ulSelector) {

        li.parentElement.querySelectorAll("li").forEach(el => el.classList.remove("active"));
        li.classList.add("active");

        lastClickedLi = li;

        const parentId = li.querySelector("input").value;
        const ul = document.querySelector(ulSelector);

        if (ulSelector !== ".topCategoryList" && ulSelector !== ".detailCategoryList") {
            ul.parentElement.nextElementSibling.querySelector(".parentId").value = parentId;
        }

        if (ulSelector in depthMap) {
            getParent(parentId, depthMap[ulSelector].nextUl);
            resetLowerLists(depthMap[ulSelector].resetFrom);
        } else if (ulSelector === ".topCategoryList") {
            resetLowerLists(-1);
            getParent(parentId, ".middleCategoryList");
        }

    }

    function selectCateAddBtnClick(path) {
        const cateBoxes = document.querySelectorAll('.categoryTable .cate');

        cateBoxes.forEach(function (cateBox) {
            const activeLi = cateBox.querySelector('li.active');

            if (activeLi) {
                const input = activeLi.querySelector('input[type="hidden"]');
                const div = activeLi.querySelector('div');

                if (input && div) {
                    currentIdList.push(input.value);
                    currentTxtList.push(div.textContent.trim());
                }
            }
        });

        console.log('선택된 카테고리 ID:', currentIdList);
        console.log('선택된 카테고리 텍스트:', currentTxtList);

        const newPathTxt = currentTxtList.join(' > ');
        const alreadyExists = selectCateTxtList.includes(newPathTxt);

        if (!alreadyExists && currentTxtList.length > 0) {
            const ul = document.querySelector('.cateBody');
            const li = document.createElement('li');

            li.textContent = newPathTxt + ' ';
            li.style.cssText = "padding-left: 20px;";

            li.setAttribute('data-path', newPathTxt); // 나중에 비교용
            li.setAttribute('data-ids', currentIdList.join(',')); // 나중에 ID 추출용

            const btn = document.createElement('button');
            btn.textContent = '✖';
            btn.style.marginLeft = '5px';
            btn.style.color = 'red';
            btn.style.cursor = 'pointer';

            // 삭제 이벤트
            btn.addEventListener('click', function () {
                const path = li.getAttribute('data-path');
                const idsToRemove = li.getAttribute('data-ids').split(',');

                // 텍스트 경로 삭제
                const pathIdx = selectCateTxtList.indexOf(path);

                if (pathIdx !== -1) {
                    selectCateTxtList.splice(pathIdx, 1);
                }

                // ID들 하나씩 중복 여부 체크 후 안전하게 삭제
                idsToRemove.forEach(id => {
                    const isUsedElsewhere = selectCateTxtList.some(txt => {
                        const matchingLi = document.querySelector(`li[data-path="${txt}"]`);
                        if (!matchingLi) return false;
                        const ids = matchingLi.getAttribute('data-ids').split(',');
                        return ids.includes(id);
                    });

                    if (!isUsedElsewhere) {
                        selectCateIdList.delete(id);
                    }
                });

                // DOM에서 삭제
                li.remove();

            });

            li.appendChild(btn);
            ul.appendChild(li);

            // 경로, ID 배열 업데이트
            selectCateTxtList.push(newPathTxt);
            currentIdList.forEach(id => {
                if (!selectCateIdList.has(id)) {
                    selectCateIdList.add(id);
                }
            });
        }

        // 디버깅 출력
        console.log('선택된 전체 경로들:', selectCateTxtList);
        console.log('선택된 ID들 (중복 제거):', selectCateIdList);

        currentIdList = [];
        currentTxtList = [];
    }

    function initTextEditor() {
        editor = Jodit.make('#editor', {
            enableDragAndDropFileToEditor: true,
            language: "ko",
            toolbarAdaptive: false,
            showCharsCounter: false,
            showWordsCounter: false,
            showXPathInStatusbar: false,
            beautifyHTML: true,            // HTML 자동 정렬
            sourceEditor: 'area',
            maxWidth: 940,
            minHeight: 400,
            uploader: {
                // 이미지 업로드를 base64 방식으로 처리 (간단용)
                // insertImageAsBase64URI: true

                // 서버 분리
                url: '/rest/' + siteId + '/product/upload-image',
                method: 'POST',
                format: 'json',
                filesVariableName: () => 'file', // ★ 서버에서 원하는 key로 보내기
                prepareData: function (data) {
                    return data;
                },
                isSuccess: function (resp) {
                    return !resp.error;
                },
                getMsg: function (resp) {
                    return resp.msg.join !== undefined ? resp.msg.join(' ') : resp.msg;
                },
                process: function (resp) {
                    // 여기서 response받아서 아래 json 형태로 path, baseurl (이게 실제 링크라고 보면 됨 base64 대신 img src url)
                    return {
                        files: resp.images,
                        path: resp.path,
                        baseurl: resp.baseurl,
                        error: resp.error,
                        msg: resp.msg
                    };
                },
                error: function (e) {
                    this.events.fire('errorPopap', [e.getMessage(), 'error', 4000]);
                },
                defaultHandlerSuccess: function (data, resp) {
                    const field = 'files';
                    if (data[field] && data[field].length) {
                        for (let i = 0; i < data[field].length; i += 1) {

                            editor.selection.insertImage(data.baseurl + data[field][i]);
                        }
                    }
                },
                defaultHandlerError: function (resp) {
                    this.events.fire('errorPopap', [this.options.uploader.getMsg(resp)]);
                }
            },
            buttons: [
                // 텍스트 스타일 관련
                'bold', 'italic', 'underline', 'strikethrough', '|',
                'fontsize', 'font', 'brush', 'paragraph', '|',
                // 정렬 및 목록
                'align', 'outdent', 'indent', '|',
                'ul', 'ol', '|',
                // 이미지/링크/클립보드
                'image', 'link', 'source', '|',
                // 편의 기능
                'undo', 'redo', 'hr', 'eraser', 'fullsize'
            ],
            // 글꼴 지정
            controls: {
                font: {
                    list: {
                        '맑은 고딕': '맑은 고딕',
                        '돋움': '돋움',
                        '굴림': '굴림',
                        '바탕': '바탕',
                        'Arial': 'Arial',
                        'Times New Roman': 'Times New Roman',
                        'Courier New': 'Courier New'
                    }
                },
                fontsize: {
                    list: [
                        '8', '10', '12', '14', '16', '18', '24', '36', '48', '72'
                    ]
                }
            }
        });
    }

    function imgDragDrop() {
        $("#imgList").sortable({
            items: ".figure", // span.figure 요소만 드래그 가능
            tolerance: "pointer", // 좀 더 부드러운 드래그
            cursor: "move", // 마우스 커서가 이동 커서로 변함
            update: function () {

                const newFilesRep = [];

                $("#imgList .figure").each(function (index) {
                    const filesIdx = $(this).data("file-idx");

                    if (filesIdx !== undefined && filesIdx !== null) {
                        const matched = filesRep.find(f => f.idx === filesIdx);
                        if (matched) {
                            matched.fileSeq = index + 1;
                            newFilesRep.push(matched);
                        }
                    }
                });

                filesRep = newFilesRep;

                setFiles();
            }
        });
    }

    async function getProductDetail() {
        const res = await axios.post('/rest/' + siteId + '/product/detail', {productId: productId});
        if (!res || !res.data) {
            alert("상품 정보를 불러오는데 실패했습니다.");
            return;
        }

        let pdDetail = res.data.detail;
        let pdFiles = res.data.files;

        $("#productName").val(pdDetail.productName);
        $("#stocks").val(pdDetail.stocks);
        $("#productCd").html(pdDetail.productCd);
        $("#dpStatus").val(pdDetail.dpStatus);
        $("#status").val(pdDetail.status);
        $("#summation").val(pdDetail.summation);
        $("#price").val(pdDetail.price);
        $("#disRate").val(pdDetail.disRate);
        $("#disPrice").val(pdDetail.disPrice);
        $("#deliveryFee").val(pdDetail.deliveryFee);
        $("#freeDeliveryFee").val(pdDetail.freeDeliveryFee == 'nonFree' ? '해당 없음' : pdDetail.freeDeliveryFee);
        editor.setEditorValue(pdDetail.content);

        filesRep = pdFiles.map((file, index) => {

            return {
                idx: file.fileSeq, // 기존 코드와 일치하도록 번호 부여
                name: file.fileName,
                newName: file.fileNewName,
                ext: file.fileExtension,
                size: Number(file.fileSize),
                menuCd: file.menuCd,
                type: file.fileType, // 01: 서버, 02: 스토리지서버, 03: blob
                url: file.filePath, // 이미지 src로 사용할 URL
                fileDvCd: file.fileDvCd,
                seq: file.fileSeq,
                isSaved: true, // 이건 기존 파일임을 구분하기 위한 flag
                fileId: file.fileId // 나중에 수정 저장할 때 필요하면 이 ID로 처리
            }
        }).sort((a, b) => a.seq - b.seq);

        setFiles();

    }

    // function getMimeType(extension) {
    // 	const map = {
    // 		jpg: 'image/jpeg',
    // 		jpeg: 'image/jpeg',
    // 		png: 'image/png',
    // 		gif: 'image/gif',
    // 		jfif: 'image/jpeg',
    // 		webp: 'image/webp'
    // 	};

    // 	return map[extension.toLowerCase()] || 'application/octet-stream';
    // }

    async function getColorMappingList() {
        const res = await axios.post('/rest/' + siteId + '/product/color-list', {productId: productId});
        if (!res || !res.data) {
            alert("color mapping리스트를 불러오는데 실패했습니다.");
            return;
        }

        colorList = res.data.colorList;

        _.forEach(colorList, function (color) {
            let colorVal = color.optionId;
            colorIdList.push(colorVal);


            color.colorCd ?
                $("#colorWrap").append(
                    `<div class="flex_align" style="margin-right:10px;">
			<input type='color' value=${color.colorCd} disabled>` + color.colorName
                    + `<img src="/images/icons/icon_cancel.png" width="15" style="margin-left:5px; cursor: pointer;" class="delete_color_btn" data-val=${colorVal} onClick="deleteColorBtn(this)">
			</div>`
                )
                : color.colorName;
        })

    }

    async function getTagMappingList() {
        const res = await axios.post('/rest/' + siteId + '/product/tag-list', {productId: productId});
        if (!res || !res.data) {
            alert("tag mapping리스트를 불러오는데 실패했습니다.");
            return;
        }

        tagList = res.data.tagList;

        _.forEach(tagList, function (tag) {
            let tagVal = tag.optionId;
            tagIdList.push(tagVal);

            $("#tagWrap").append(
                `<div class="flex_align" style="margin-right:10px;">`
                + tag.tagName
                + `<img src="/images/icons/icon_cancel.png" width="15" style="margin-left:5px; cursor: pointer;" class="delete_tag_btn" data-val=${tagVal} onClick="deleteTagBtn(this)">
			 </div>`
            );

        });

    }


    async function getColorOption() {
        const res = await axios.get('/rest/' + siteId + '/option/list', {params: {optionDvCd: '0001'}});
        if (!res || !res.data) {
            alert("color option을 불러오는데 실패했습니다.");
            return;
        }

        colorList = res.data.list.content;
    }

    async function getTagOption() {
        const res = await axios.get('/rest/' + siteId + '/option/list', {params: {optionDvCd: '0000'}});
        if (!res || !res.data) {
            alert("tag option을 불러오는데 실패했습니다.");
            return;
        }

        tagList = res.data.list.content;
    }

    function showSecretBox() {
        $(".secretBox").show();
    }

    function hideSecretBox() {
        $(".secretBox").hide();
    }

    function passwordSave() {
        secretPw = $("#password").val();

        alert("저장되었습니다.");
        $(".secretBox").hide();
        $(".btnSecretImg").attr("src", "/images/secretMsg-on.png");
    }


    // 파일 그리기
    function setFiles(id) {
        const $imgList = $('#imgList');
        console.log(filesRep);
        console.log("-----------------------")
        $imgList.empty(); // 이미지 슬롯 초기화

        let fileHtml = '';
        let fileDiv;
        let fileIdx = 1;

        if (!id) id = 'uploadRep';

        // HTML 영역 초기화
        $('.rep_a').removeClass('active selected');
        if ($('.delete_img_btn')) $('.delete_img_btn').remove();

        if (id === 'uploadRep') {
            $('.form__div--file_rep').addClass('mgt10');
            fileDiv = document.querySelector('.form__div--file_rep');

            // 대표 이미지 표시용 목록 생성
            fileHtml = '';

            // 대표 이미지 박스 다시 그리기
            const maxSlots = 5;
            for (let i = 0; i < maxSlots; i++) {
                const file = filesRep[i]; // 배열에 있는 파일 또는 undefined

                let blobUrl = '';

                if (file?.file) {
                    URL.revokeObjectURL(file?.file); // 메모리 누수 방지
                    blobUrl = URL.createObjectURL(file.file);
                }
                console.log(blobUrl);
                const slot = i + 1;

                const span = $('<span>', {
                    class: 'figure',
                    id: 'repImg' + slot,
                    'data-file-idx': file?.idx ?? ''
                });

                const anchor = $('<a>', {
                    class: 'rep_a' + (i === 0 && file ? ' selected active' : file ? ' active' : '')
                });

                const img = $('<img>', {
                    class: 'noImg',
                    // 기존 DB정보와 새로 업로드된 이미지의 정보를 맞춰주기 위해서 setFiles에서 file.url / file.file의 형태로 넣어줌
                    src: file?.url ?
                        file?.url + "/" + file?.newName
                        : file?.file
                            ? file?.file.blobUrl
                            : '/images/noImage108x108.gif',
                    width: 108,
                    heiƒght: 108,
                    alt: ''
                });
                
                anchor.append(img);
                span.append(anchor);

                // 파일이 있을 경우 삭제 버튼 추가
                if (file) {
                    const cancelBtn = $('<img>', {
                        src: '/images/icons/icon_cancel.png',
                        class: 'delete_img_btn active',
                        'data-id': 'uploadRep',
                        'data-idx': file.idx,
                        onClick: 'deleteFileBtn(this)'
                    });
                    span.append(cancelBtn);

                    // 파일 이름 목록 영역 HTML 추가
                    fileHtml += `
			    <span class="select_file_box">
			      <button type="button" data-id="uploadRep" data-idx="${file.idx}" class="delete_file_btn" onClick="deleteFileBtn(this)">x</button>
			      ${file.name}
			    </span>
			  `;
                }

                $imgList.append(span);
            }

            if (filesRep.length !== 0) imgDragDrop(); // 드래그 이벤트 재연결

        } else {
            // 일반 파일 업로드 영역 (대표 이미지 아님)
            $('.form__div--file').addClass('mgt10');
            fileDiv = document.querySelector('.form__div--file');

            _.forEach(files, function (file) {
                fileHtml += `
	      <span class="select_file_box">
	        <button type="button" data-id="upload" data-idx="${file.idx}" class="delete_file_btn" onClick="deleteFileBtn(this)">x</button>
	        ${file.name}
	      </span>
	    `;
            });
        }

        if (fileDiv) {
            fileDiv.innerHTML = fileHtml;
        }
    }

    function deleteFileBtn(elem) {
        if (filesRep.length > 0) {
// 		// 실제 대표이미지 파일 삭제
// 		const img = elem.previousSibling.firstChild;
// 		const imgUrl = img.src;

// 		// blob 중복되지 않도록 확인사살(?)작업
// 		URL.revokeObjectURL(img.src);

            filesRep = _.filter(filesRep, function (file) {
                return file.idx != elem.getAttribute("data-idx")
            });
        } else if (files.length > 0) {
            // 실제 상세 이미지 파일 삭제
            files = _.filter(files, function (file) {
                return file.idx != elem.getAttribute("data-idx")
            });
        }

        // $("#imgList .figure img").attr("src","/images/noImage108x108.gif");
        setFiles(elem.getAttribute("data-id"));
    };

    function deleteColorBtn(elem) {
        if (colorIdList.length > 0) {
            const colId = elem.getAttribute("data-val");

            colorIdList = colorIdList.filter(col => col !== colId);
            elem.parentNode.remove();
        }
    }

    function deleteTagBtn(elem) {
        if (tagIdList.length > 0) {
            const tagId = elem.getAttribute("data-val");

            tagIdList = tagIdList.filter(tag => tag !== tagId);
            elem.parentNode.remove();
        }
    }

    // 비동기 통신
    async function setData(formData, url) {
        const res = await axios.post('/rest/' + siteId + '/product/update', formData, {headers: {'Content-Type': 'multipart/form-data'}});
        if (!res || !res.data) {
            alert("등록에 실패하였습니다.");
            return;
        }
        moveUrl(url);

    }
</script>