<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/fragments/layout}"
>
<head>

</head>
<div layout:fragment="content">
    <div>
        <p class="title"><span>분류 관리</span></p>
    </div>
    <div id="container">
        <div class="searchArea">
            <input type="text" title="분류명" placeholder="분류명" id="categoryName">
            <button class="searchBtn"></button>

        </div>

        <div class="categoryTable">
            <div class="cate largeCate">
                <div class="cateHead">대분류
                    <button id="newLargeCateBtn"><i class="fa-solid fa-plus"></i></button>
                </div>
                <ul class='topCategoryList'></ul>
                <input type="hidden" class="parentId">
            </div>
            <div class="cate mediumCate">
                <div class="cateHead">중분류
                    <button style="display: none" id="newMiddleCateBtn"><i class="fa-solid fa-plus"></i></button>
                </div>
                <ul class="middleCategoryList"></ul>
                <input type="hidden">
            </div>
            <div class="cate smallCate">
                <div class="cateHead">소분류</div>
                <ul class="bottomCategoryList"></ul>
                <input type="hidden">
            </div>
            <div class="cate detailCate">
                <div class="cateHead">상세분류</div>
                <ul class="detailCategoryList"></ul>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", () => {
            load();
            loadEventListener();
        })

        function load() {
            getParent("", ".topCategoryList")
        }

        function loadEventListener() {
            const newLargeCateBtn = document.querySelector("#newLargeCateBtn")
            newLargeCateBtn.addEventListener("click", () => {
                const ul = document.querySelector(".topCategoryList")
                const check = document.querySelectorAll(".newCate")
                if (check.length != 0) {
                    return false;
                }
                ul.innerHTML += `<li><i class=\"fa-solid fa-folder\"></i><div><input class="newCate" type="text"></div><button class="addCateBtn"><i class="fa-solid fa-check"></i></button></li>`
                const cate = document.querySelector('.newCate')
                cate.addEventListener("keypress", (evt) => {
                    if (cate.value == "") {
                        return false;
                    }
                    if (evt.key === "Enter") {
                        addNewCategory(cate.value, null)
                    }
                });
                document.querySelector(".addCateBtn").addEventListener("click", (e) => {
                    const value = e.currentTarget.previousElementSibling.querySelector("input").value
                    addNewCategory(value, null)
                })
            })
            const newMiddleCateBtn = document.querySelector("#newMiddleCateBtn")
            newMiddleCateBtn.addEventListener("click", () => {
                const ul = document.querySelector(".middleCategoryList")
                const check = document.querySelectorAll(".newCate")
                if (check.length != 0) {
                    return false;
                }
                ul.innerHTML += `<li><i class=\"fa-solid fa-folder\"></i><div><input class="newCate" type="text"></div><button class="addCateBtn"><i class="fa-solid fa-check"></i></button></li>`
                const cate = document.querySelector('.newCate')
                cate.addEventListener("keypress", (evt) => {
                    if (cate.value == "") {
                        return false;
                    }
                    if (evt.key === "Enter") {
                        addNewCategory(cate.value, ul.nextElementSibling.value);
                    }
                });
                document.querySelector(".addCateBtn").addEventListener("click", (e) => {
                    const value = e.currentTarget.previousElementSibling.querySelector("input").value
                    addNewCategory(value, ul.nextElementSibling.value)
                })
            })
        }

        async function addNewCategory(value, parentId) {
            const data = fillCategoryInfo(value, true, parentId);
            const result = await FETCH.post("/rest/admin/category/new", data)
            if (result.ok) {
                location.reload();
            } else if (result.status == 409) {
                alert("같은 계층에서는 동일한 이름의 카테고리를 생성할 수 없습니다.")
            }
        }

        function fillCategoryInfo(name, isUse, parent) {
            let cate = {
                categoryName: name,
                useYn: isUse === true ? 'Y' : 'N',
                parent: parent
            }
            return cate
        }

        function resetBackground(list) {
            list.forEach((value) => {
                value.style.backgroundColor = "";
            })
        }

        async function getParent(id, className) {
            let result;
            if (id != "") {
                result = await FETCH.get(`/rest/admin/category/list/${id}`)
            } else {
                result = await FETCH.get("/rest/admin/category/list")
            }
            makeCategoryList(result, className)
        }

        function addNewBtn(ul) {
            const btn = ul.parentNode.nextElementSibling.querySelector("button")
            btn.style.display = '';
        }

        function setParentId(id, ul) {
            const input = ul.parentNode.querySelector(".parentId")
            input.value = id;
        }

        function makeCategoryList(result, className) {
            const ul = document.querySelector(className)
            ul.innerHTML = "";
            for (let i = 0; i < result.length; i++) {
                const cate = result[i];
                ul.innerHTML += "<li><input type='hidden' value='" + cate.categoryId + "'><i class=\"fa-solid fa-folder\"></i><div>" + cate.categoryName + "</div></li>";
            }
            const list = ul.querySelectorAll("li")
            list.forEach((value) => {
                value.addEventListener("click", () => {
                    if (value.style.backgroundColor != "") {
                        return false;
                    }
                    resetBackground(list)
                    value.style.backgroundColor = "#e9d4c7"
                    addNewBtn(ul)
                    setParentId(value.querySelector("input").value, ul)
                    if (className.includes("top")) {
                        getParent(value.querySelector("input").value, ".middleCategoryList")
                    } else if (className.includes("middle")) {
                        getParent(value.querySelector("input").value, ".bottomCategoryList")
                    } else if (className.includes("detail")) {
                        getParent(value.querySelector("input").value, ".detailCategoryList")
                    }
                })
            })
        }
    </script>
</div>

</html>