<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/fragments/layout}">
<head>
    <script src="https://cdn.tiny.cloud/1/0uzc4vnstisiafaztztg0l4l11gklm6nrd7it918bcoyhz69/tinymce/7/tinymce.min.js"
            referrerpolicy="origin"></script>
</head>

<div layout:fragment="content">
    <div>
        <p class="title">상품 분류 등록</p>
    </div>

    <div class="contentWrap">
        <div class="boardContainer wsNorap">
            <form id="registForm" method="post" entype="multipart/form-data">
            </form>
        </div>
    </div>
</div>
</html>


<script th:inline="javascript">

    let menuCd = [[${menuCd}]];

    document.addEventListener("DOMContentLoaded", function () {

        // 코드리스트중에서 옵션구분코드 리스트 가져오기
        fetch('/common/codeList', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json' // JSON 데이터 전송 명시
            },
            body: JSON.stringify({grpCd: "OPTION_DV_CD"})
        })
            .then(response => response.json())
            .then(function (response) {
                codeList = response.list;

                createSelectOptions("optionDvCd", codeList, {selectedValue: '0000', keyNm: "cd", valueNm: "cdNm"});

            })
            .catch(function (error) {
                console.log("error:", error);
            });

        $("#optionDvCd").on("change", function () {
            let selectDvCd = $(this).val();
            console.log(selectDvCd);

            if (selectDvCd == '0001') {
                $('#listArea').append(`
    			<tr>
                    <th class="alLeft bold">색상 지정</th>
                    <td>
                        <input type="color" id="optionCd"/>
                    </td>
                </tr>
    		`);
            }
        });

        document.getElementById("registBtn").addEventListener("click", async function () {
            if (confirm("등록 하시겠습니까?")) {
                let params = {
                    optionDvCd: $("#optionDvCd").val(),
                    optionName: $("#optionName").val(),
                    optionCd: $("#optionCd").val()
                };

                const res = await axios.post('/rest/admin/option/regist', params);

                if (!res) {
                    alert("등록에 실패했습니다. <br/> 다시 시도해주세요.")
                    return;
                }

                moveUrl('/' + siteId + '/option/list');
            }
        });

    });

</script>