<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lumit.shop.common.repository.BoardRepository">
	<sql id="searchWhere">
		WHERE 1=1
		<if test="title != '' and title neq null">
			AND TITLE LIKE CONCAT('%', #{title}, '%')
		</if>
		<if test="content != '' and content neq null">
			AND CONTENT LIKE CONCAT('%', #{content}, '%')
		</if>
	</sql>
    <select id="selectBoardList" resultType="com.lumit.shop.common.model.TbBoard">
        SELECT *
        FROM 
        	TB_BOARD
        <include refid="searchWhere"></include>
        ORDER BY REG_DT DESC
    </select>

    <insert id="insertBoard" parameterType="com.lumit.shop.common.model.TbBoard" useGeneratedKeys="true" keyProperty="boardId">
        INSERT INTO TB_BOARD
        ( 	
        	MENU_CD
	        , MENU_DV_CD
	        , TITLE
	        , CONTENT
	        , PASSWORD
	        , TOP_FIX
	        , USE_YN
	        , DEL_YN
	        , RPLY_YN
	        , FILE_YN
	        , VIEW_COUNT
	        , REG_ID
	        , REG_DT
	        , MOD_ID
	        , MOD_DT
	    )
        VALUES 
        ( 	
        	#{menuCd}
            , #{menuDvCd}
            , #{title}
            , #{content}
            , #{password}
            , #{topFix}
            , #{useYn}
            , #{delYn}
            , #{rplyYn}
            , #{fileYn}
            , #{viewCount}
            , #{regId}
            , now()
            , #{modId}
            , now()
        )
    </insert>
	
	<select id="selectBoardDetail" resultType="com.lumit.shop.common.model.TbBoard">
        SELECT *
        FROM 
        	TB_BOARD
        WHERE
        	BOARD_ID = #{boardId}
    </select>

</mapper>