<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lumit.shop.common.repository.EmailRepository">
    <select id="selectAuthInfo" parameterType="java.lang.String">
        SELECT *
        FROM TB_EMAIL_AUTH
        WHERE USER_ID = #{userId};
    </select>
    <insert id="insertAuthInfo" parameterType="TbEmailAuth">
        INSERT INTO TB_EMAIL_AUTH(USER_ID, TYPE, EMAIL, CODE)
        VALUES (#{userId}, #{type}, #{email}, #{code});
    </insert>
    <update id="updateAuthInfo" parameterType="TbEmailAuth">
        UPDATE TB_EMAIL_AUTH
        SET TYPE=#{type},
            EMAIL = #{email},
            CODE=#{code}
        WHERE USER_ID = #{userId};
    </update>
    <update id="grantAuthInfo" parameterType="java.lang.String">
        UPDATE TB_EMAIL_AUTH
        SET IS_AUTHENTICATED = TRUE
        WHERE USER_ID = #{userId};
    </update>
</mapper>