<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lumit.shop.common.repository.FileRepository">
    <select id="selectFileList" resultType="com.lumit.shop.common.model.TbFile">
        SELECT *
        FROM TB_FILE
        WHERE PK_ID = #{pkId}
          AND MENU_CD = #{menuCd}
        ORDER BY REG_DT DESC
    </select>

    <select id="selectFile" resultType="com.lumit.shop.common.model.TbFile">
        SELECT *
        FROM TB_FILE
        WHERE FILE_ID = #{fileId}
          AND MENU_CD = #{menuCd}
          AND PK_ID = #{pkId}
        ORDER BY REG_DT DESC
    </select>

    <insert id="insertFiles" parameterType="com.lumit.shop.common.model.TbFile" useGeneratedKeys="true"
            keyProperty="fileId">
        INSERT INTO TB_FILE
        ( PK_ID
        , FILE_DV_CD
        , MENU_CD
        , FILE_NEW_NAME
        , FILE_NAME
        , FILE_SIZE
        , FILE_PATH
        , FILE_TYPE
        , FILE_EXTENSION
        , REG_ID
        , REG_DT)
        VALUES ( #{pkId}
        	   , #{fileDvCd}
               , #{menuCd}
               , #{fileNewName}
               , #{fileName}
               , #{fileSize}
               , #{filePath}
               , #{fileType}
               , #{fileExtension}
               , #{regId}
               , now())
    </insert>

    <delete id="deleteFiles" parameterType="com.lumit.shop.common.model.TbFile">
        DELETE FROM
            TB_FILE
        WHERE 
        	PK_ID = #{pkId}
        <if test="menuCd != '' and menuCd neq null">
        AND 
        	MENU_CD = #{menuCd}
        </if>
        
    </delete>

</mapper>