<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lumit.shop.admin.repository.ProductRepository">
    <sql id="searchWhere">
        WHERE 1=1
        <if test="productName != null and productName neq ''">
            AND PRODUCT_NAME LIKE CONCAT('%', #{productName}, '%')
        </if>
        <if test="productCd != null and productCd neq ''">
            AND PRODUCT_CD LIKE CONCAT('%', #{productCd}, '%')
        </if>
        <if test="status != null and status neq ''">
            AND STATUS = #{status}
        </if>
        <if test="dpStatus != null and dpStatus neq ''">
            AND DP_STATUS = #{dpStatus}
        </if>
        <if test='strDt != null and strDt neq ""'>
           	AND REG_DT <![CDATA[ >=]]> DATE_FORMAT(REPLACE(#{strDt}, "-", ""), '%Y/%m/%d 00:00:00')
        </if>
        <if test='endDt != null and endDt neq ""'>
        	AND REG_DT <![CDATA[ <=]]> DATE_FORMAT(REPLACE(#{endDt}, "-", ""), '%Y/%m/%d 23:59:59')
        </if>
    </sql>
    <select id="selectProductList" resultType="com.lumit.shop.common.model.TbProduct">
        SELECT *
        FROM
        	TB_PRODUCT
        <include refid="searchWhere"></include>
        ORDER BY REG_DT DESC
    </select>
    
    <select id="selectPageableProductList" parameterType="RequestList" resultType="TbProduct">
        SELECT *
        FROM
        	TB_PRODUCT
        <where>
			<if test="data.productName != null and data.productName neq ''">
			    AND PRODUCT_NAME LIKE CONCAT('%', #{data.productName}, '%')
			</if>
			<if test="data.productCd != null and data.productCd neq ''">
				AND PRODUCT_CD = #{data.productCd}
			</if>
			<if test="data.status != null and data.status neq ''">
			    AND STATUS LIKE CONCAT('%', #{data.status}, '%')
			</if>
			<if test="data.dpStatus != null and data.dpStatus neq ''">
				AND DP_STATUS = #{data.dpStatus}
			</if>
			<if test='data.strDt != null and data.strDt neq ""'>
	           	AND REG_DT <![CDATA[ >=]]> DATE_FORMAT(REPLACE(#{data.strDt}, "-", ""), '%Y/%m/%d 00:00:00')
	        </if>
	        <if test='data.endDt != null and data.endDt neq ""'>
	        	AND REG_DT <![CDATA[ <=]]> DATE_FORMAT(REPLACE(#{data.endDt}, "-", ""), '%Y/%m/%d 23:59:59')
	        </if>
		</where>
        ORDER BY REG_ID DESC
        LIMIT #{pageable.offset}, #{data.cntPerPage}
    </select>
    
   	<select id="selectCountProductList" parameterType="TbProduct" resultType="int">
        SELECT COUNT(*) AS CNT
        FROM
        	TB_PRODUCT
        <where>
        	1=1
			<if test="productName != null and productName neq ''">
			    AND PRODUCT_NAME LIKE CONCAT('%', #{productName}, '%')
			</if>
			<if test="productCd != null and productCd neq ''">
				AND PRODUCT_CD = #{productCd}
			</if>
			<if test="status != null and status neq ''">
			    AND STATUS LIKE CONCAT('%', #{status}, '%')
			</if>
			<if test="dpStatus != null and dpStatus neq ''">
				AND DP_STATUS = #{dpStatus}
			</if>
			<if test='strDt != null and strDt neq ""'>
	           	AND REG_DT <![CDATA[ >=]]> DATE_FORMAT(REPLACE(#{strDt}, "-", ""), '%Y/%m/%d 00:00:00')
	        </if>
	        <if test='endDt != null and endDt neq ""'>
	        	AND REG_DT <![CDATA[ <=]]> DATE_FORMAT(REPLACE(#{endDt}, "-", ""), '%Y/%m/%d 23:59:59')
	        </if>
		</where>
    </select>
    
   	<insert id="insertProduct" parameterType="com.lumit.shop.common.model.TbProduct" useGeneratedKeys="true"
            keyProperty="productId">
	    INSERT INTO TB_PRODUCT (
	        PRODUCT_NAME
	        , PRODUCT_CD
	        , PRICE
	        , DIS_PRICE
	        , CONTENT
	        , SUMMATION
	        , STOCKS
	        , SALES
	        , STATUS
	        , DP_STATUS
	        , WATT
	        , DELIVERY_FEE
	        , FREE_DELIVERY_FEE
	        , DEL_YN
	        , REG_ID
	        , REG_DT
	        , MOD_ID
	        , MOD_DT
	    )
	    VALUES (
	        #{productName}
	        , CONCAT('L',REPLACE(SUBSTRING(UUID(),1,15),'-',''))
	        , #{price}
	        , #{disPrice}
	        , #{content}
	        , #{summation}
	        , #{stocks}
	        , #{sales}
	        , #{status}
	        , #{dpStatus}
	        , #{watt}
	        , #{deliveryFee}
	        , #{freeDeliveryFee}
	        , #{delYn}
	        , #{regId}
	        , NOW()
	        , #{modId}
	        , NOW()
	    )
    </insert>
    
    <update id="updateProduct" parameterType="com.lumit.shop.common.model.TbProduct">
        UPDATE
        	TB_PRODUCT
        SET
        	MOD_ID = #{modId}
        	, MOD_DT = NOW()
        <if test="productName != '' and productName != null">
            , PRODUCT_NAME = #{productName}
        </if>
        <if test="productCd != '' and productCd != null">
            , PRODUCT_CD = #{productCd}
        </if>
        <if test="price != '' and price != null">
            , PRICE = #{price}
        </if>
        <if test="disPrice != '' and disPrice != null">
            , DIS_PRICE = #{disPrice}
        </if>
        <if test="content != '' and content != null">
            , CONTENT = #{content}
        </if>
        <if test="summation != '' and summation != null">
            , SUMMATION = #{summation}
        </if>
        <if test="stocks != '' and stocks != null">
            , STOCKS = #{stocks}
        </if>
        <if test="sales != '' and sales != null">
            , SALES = #{sales}
        </if>
        <if test="status != '' and status != null">
            , STATUS = #{status}
        </if>
        <if test="dpStatus != '' and dpStatus != null">
            , DP_STATUS = #{dpStatus}
        </if>
        <if test="watt != '' and watt != null">
            , WATT = #{watt}
        </if>
        <if test="deliveryFee != '' and deliveryFee != null">
            , DELIVERY_FEE = #{deliveryFee}
        </if>
        <if test="freeDeliveryFee != '' and freeDeliveryFee != null">
            , FREE_DELIVERY_FEE = #{freeDeliveryFee}
        </if>
        WHERE
        	PRODUCT_ID = #{productId}
    </update>
    
    <delete id="deleteProduct" parameterType="com.lumit.shop.common.model.TbProduct">
		DELETE FROM TB_PRODUCT 
		WHERE
			PRODUCT_ID = #{productId}
	</delete>
	
	<insert id="insertColorMap" parameterType="com.lumit.shop.common.model.TbProduct">
	    INSERT INTO TB_COLOR_MAP (
	        PRODUCT_ID
	        , OPTION_ID
	        , COLOR_NAME
	        , COLOR_CD
	    )
	    SELECT 
	        #{productId}
	        , a.OPTION_ID
	        , a.OPTION_NAME
	        , a.OPTION_CD
	    FROM TB_OPTION a
	    WHERE a.OPTION_ID IN (
	    <foreach collection="colorIdList" index="index" item="i" separator=",">
	    	#{i} 
	    </foreach>
	    )
    </insert>
    
    <insert id="insertTagMap" parameterType="com.lumit.shop.common.model.TbProduct">
	    INSERT INTO TB_TAG_MAP (
	        PRODUCT_ID
	        , OPTION_ID
	        , TAG_NAME
	    )
	    SELECT 
	        #{productId}
	        , a.OPTION_ID
	        , a.OPTION_NAME
		FROM TB_OPTION a
		WHERE a.OPTION_ID IN (     
	    <foreach collection="tagIdList" index="index" item="i" separator=",">
	    	#{i} 
	    </foreach>
	    )
    </insert>
</mapper>