<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lumit.shop.common.repository.UserRepository">
    <select id="countAllUsers">
        SELECT COUNT(*)
        FROM TB_LOGIN
        WHERE STATUS = 1
    </select>
    <select id="countUsersToday">
        SELECT COUNT(*)
        FROM TB_LOGIN
        WHERE DATE(REG_DT) = CURRENT_DATE
    </select>
    <select id="countAdmins">
        SELECT COUNT(*)
        FROM TB_LOGIN
        WHERE ROLE_ID != 3
    </select>
    <select id="findRecentUsers" resultType="com.lumit.shop.common.model.User">
        SELECT *
        FROM TB_LOGIN
        WHERE STATUS = 1
        ORDER BY REG_DT
                DESC
        LIMIT 5
    </select>
    <select id="selectUserList" resultType="com.lumit.shop.common.model.User">
        SELECT *
        FROM TB_LOGIN
    </select>

    <select id="selectByUserId" resultType="com.lumit.shop.common.model.TbLogin">
        SELECT *
        FROM TB_LOGIN
        WHERE USER_ID = #{userId}
    </select>

    <select id="selectByEmail" resultType="com.lumit.shop.common.model.TbLogin">
        SELECT *
        FROM TB_LOGIN
        WHERE EMAIL = #{email}
    </select>

    <select id="selectAdminList" resultType="com.lumit.shop.common.model.User">
        SELECT *
        FROM TB_LOGIN
        WHERE (ROLE_ID = '1'
            or ROLE_ID = '2')
          and STATUS != 4
        ORDER BY ROLE_ID ASC
    </select>

    <insert id="insertUser" parameterType="com.lumit.shop.common.model.TbLogin">
        INSERT INTO TB_LOGIN
        ( USER_ID
        , ROLE_ID
        , PASSWORD
        , NAME
        , GENDER_CD
        , EMAIL
        , PHONE
        , ADDRESS
        , SOCIAL_ID
        , REG_ID
        , REG_DT
        , MOD_ID
        , MOD_DT)
        VALUES ( #{userId}
               , #{roleId}
               , #{password}
               , #{name}
               , #{genderCd}
               , #{email}
               , #{phone}
               , #{address}
               , #{socialId}
               , #{regId}
               , now()
               , #{modId}
               , now())
    </insert>

    <select id="selectUserByKakaoId" parameterType="String" resultType="com.lumit.shop.common.model.User">
        SELECT *
        FROM TB_LOGIN
        WHERE SOCIAL_ID = #{socialId}
    </select>

    <select id="selectUserBySocialId" parameterType="String" resultType="com.lumit.shop.common.model.User">
        SELECT *
        FROM TB_LOGIN
        WHERE SOCIAL_ID = #{socialId}
    </select>

    <update id="updateSocialUser" parameterType="com.lumit.shop.common.model.TbLogin">
        UPDATE TB_LOGIN
        SET USER_ID   = #{userId},
            ROLE_ID   = #{roleId},
            PASSWORD  = #{password},
            name=#{name},
            GENDER_CD = #{genderCd},
            EMAIL=#{email},
            PHONE=#{phone},
            ADDRESS=#{address},
            MOD_ID=#{modId},
            MOD_DT=now()
        WHERE SOCIAL_ID = #{socialId};
    </update>

    <insert id="insertAddress" parameterType="com.lumit.shop.common.model.TbAddress">
        INSERT INTO TB_ADDRESS (ADDR_NAME, RECEIVER, PHONE_NUMBER, ZIP_CD, BASE_ADDR, DETAIL_ADDR, REG_DT, USER_ID)
        VALUES (#{addrName}, #{receiver}, #{phoneNumber}, #{zipCd}, #{baseAddr}, #{detailAddr}, now(), #{userId});
    </insert>

    <update id="updateAddress" parameterType="TbAddress">
        UPDATE TB_ADDRESS
        SET ADDR_NAME = #{addrName},
        RECEIVER = #{receiver},
        PHONE_NUMBER = #{phoneNumber},
        <if test="zipCd != null and zipCd != ''">
            ZIP_CD = #{zipCd},
        </if>
        BASE_ADDR = #{baseAddr},
        <if test="detailAddr != null">
            DETAIL_ADDR = #{detailAddr},
        </if>
        REG_DT = now()
        WHERE ADDR_ID = #{addrId}
    </update>

    <delete id="deleteAddress" parameterType="integer">
        DELETE
        FROM TB_ADDRESS
        WHERE ADDR_ID = #{id};
    </delete>

    <insert id="insertNewAddress" parameterType="TbAddress">
        INSERT INTO TB_ADDRESS (ADDR_NAME, RECEIVER, PHONE_NUMBER, ZIP_CD, BASE_ADDR, DETAIL_ADDR, REG_DT, USER_ID)
        VALUES (#{addrName}, #{receiver}, #{phoneNumber}, #{zipCd}, #{baseAddr}, #{detailAddr}, now(), #{userId})
    </insert>

    <select id="selectAddressListByUserId" parameterType="java.lang.String"
            resultType="com.lumit.shop.common.model.TbAddress">
        SELECT *
        FROM TB_ADDRESS t
                 INNER JOIN TB_LOGIN l ON t.USER_ID = l.USER_ID
        ORDER BY CASE
                     WHEN l.DEFAULT_ADDR = t.ADDR_ID THEN 0
                     ELSE 1 END;
    </select>

    <select id="selectAddressById" parameterType="integer" resultType="TbAddress">
        SELECT *
        FROM TB_ADDRESS
        WHERE ADDR_ID = #{id};
    </select>


    <update id="updateDefaultAddr" parameterType="com.lumit.shop.common.model.TbLogin">
        UPDATE TB_LOGIN
        SET DEFAULT_ADDR=#{defaultAddr},
            ADDRESS=#{address}
        WHERE USER_ID = #{userId}
    </update>

    <update id="deleteAdmin" parameterType="AdminDto">
        UPDATE TB_LOGIN
        SET STATUS = 4,
            MOD_ID = #{modId},
            MOD_DT = now()
        WHERE USER_ID = #{userId}
    </update>

    <update id="updateAdmin" parameterType="AdminDto">
        UPDATE TB_LOGIN
        SET
        <if test="roleId != null">
            ROLE_ID=#{roleId},
        </if>
        STATUS = 1,
        MOD_ID=#{modId},
        MOD_DT = now()
        <if test="name != null">
            ,NAME = #{name}
        </if>
        WHERE USER_ID = #{userId}
    </update>

    <select id="selectOldAdminList" resultType="com.lumit.shop.common.model.User">
        SELECT *
        FROM TB_LOGIN
        WHERE STATUS = 4
        ORDER BY MOD_DT DESC
    </select>

    <update id="updateUserInfo" parameterType="UserInfoDto">
        UPDATE TB_LOGIN
        SET
        <if test="code != null">
            AUTH_CODE = #{code},
        </if>
        <if test="name != null">
            NAME=#{name},
        </if>
        <if test="password != null">
            PASSWORD=#{password},
        </if>
        <if test="address != null">
            ADDRESS=#{address},
        </if>
        <if test="email != null">
            EMAIL=#{email},
        </if>
        <if test="phone != null">
            PHONE=#{phone},
        </if>
        <if test="defaultAddr != null">
            DEFAULT_ADDR=#{defaultAddr},
        </if>
        MOD_ID=#{modId},
        MOD_DT=now()
        WHERE USER_ID = #{userId}
    </update>
    <update id="removeAuthCode" parameterType="String">
        UPDATE TB_LOGIN
        SET AUTH_CODE = NULL,
            MOD_ID=#{userId},
            MOD_DT=now()
        WHERE USER_ID = #{userId}
    </update>

    <update id="updatePwd" parameterType="UserInfoDto">
        UPDATE TB_LOGIN
        SET PASSWORD=#{password}
        WHERE USER_ID = #{userId}
    </update>
</mapper>