<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lumit.shop.common.repository.UserRepository">
    <select id="getUserList" resultType="com.lumit.shop.common.model.User">
        SELECT *
        FROM TB_LOGIN
    </select>

    <select id="selectByUserName" resultType="com.lumit.shop.common.model.User">
        SELECT *
        FROM TB_LOGIN
        WHERE USER_ID = #{username}
    </select>

    <select id="selectByUserId" resultType="com.lumit.shop.common.model.TbLogin">
        SELECT *
        FROM TB_LOGIN
        WHERE USER_ID = #{userId}
    </select>

    <insert id="insertUser" parameterType="com.lumit.shop.common.model.TbLogin">
        INSERT INTO TB_LOGIN
        ( USER_ID
        , ROLE_ID
        , PASSWORD
        , NAME
        , GENDER_CD
        , EMAIL
        , PHONE
        , ADDRESS
        , KAKAO_ID
        , REG_ID
        , REG_DT
        , MOD_ID
        , MOD_DT)
        VALUES ( #{userId}
               , #{roleId}
               , #{password}
               , #{name}
               , #{genderCd}
               , #{email}
               , #{phone}
               , #{address}
               , #{kakaoId}
               , #{regId}
               , now()
               , #{modId}
               , now())
    </insert>

    <select id="selectUserByKakaoId" parameterType="String" resultType="com.lumit.shop.common.model.User">
        SELECT *
        FROM TB_LOGIN
        WHERE KAKAO_ID = #{kakaoId}
    </select>
</mapper>