<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lumit.shop.common.repository.UserRepository">
    <select id="getUserList" resultType="com.lumit.shop.common.model.User">
        SELECT *
        FROM TB_LOGIN
    </select>

    <select id="selectByUserName" resultType="com.lumit.shop.common.model.User">
        SELECT *
        FROM TB_LOGIN
        WHERE USER_ID = #{username}
    </select>

    <select id="selectByUserId" resultType="com.lumit.shop.common.model.TbLogin">
        SELECT *
        FROM TB_LOGIN
        WHERE USER_ID = #{userId}
    </select>

    <insert id="insertNewUser" parameterType="com.lumit.shop.common.model.TbLogin">
        INSERT INTO `TB_LOGIN`
        VALUES (#{userId}, #{roleId}, #{password}, #{name}, #{genderCd},
                #{email},
                #{phone}, #{address}, #{regId}, now(), NULL, NULL);
    </insert>

    <select id="selectUserByKakaoId" parameterType="String" resultType="com.lumit.shop.common.model.User">
        SELECT *
        FROM TB_LOGIN
        WHERE KAKAO_ID = #{kakaoId}
    </select>

    <insert id="insertUser" parameterType="com.lumit.shop.admin.model.User">
        INSERT INTO TB_LOGIN
        (
            USER_ID,
            ROLE_ID,
            PASSWORD,
            USER_NAME,
            GENDER_CD,
            EMAIL,
            PHONE,
            ADDRESS,
            KAKAO_ID,
            REG_ID,
            REG_DT,
            MOD_ID,
            MOD_DT
        )
        VALUES
        (
            #{userId},
            #{roleId},
            #{password},
            #{userName},
            #{genderCd},
            #{email},
            #{phone},
            #{address},
            #{kakaoId},
            #{reg_id},
            #{reg_dt},
            #{mod_id},
            #{mod_dt}
        )
    </insert>
</mapper>