<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFragment">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta th:title="lumit">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="/manifest" href="/site.webmanifest">
    <script src="https://kit.fontawesome.com/e7bb015e07.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/functions.js}"></script>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
</html>