<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav th:fragment="headerFragment" class="header">
    <div class="leftHeader">
        <ul class="">
            <li class="logo"><a class="home_admin" href="#" th:href="@{/}">Lumit<span>admin</span></a></li>
            <li class="">
                <a class="" href="#" th:href="@{/}">회원관리</a>
            </li>
            <li class="">
                <a class="" href="#">주문관리</a>
            </li>
            <li class="">
                <a class="" href="#">배송관리</a>
            </li>
            <li class="">
                <a class="" href="#">전달사항</a>
            </li>
            <li>
                <a class="adminDefault" th:href="@{/}">기본 페이지로</a>
            </li>
        </ul>
    </div>
    <div class="rightHeader">
        <div class="searchContainer">
            <form class="searchBox" action="" method="get">
                <input class="searchText" type="text" name="searchText" placeholder="여름 해변 분위기의 선셋 조명 출시!">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <form class="memberContainer" form-method="post" th:action="@{/logout}">
            <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">
                내 정보
            </button>
            <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">
                로그아웃
            </button>
            <button sec:authorize="isAnonymous()" th:href="@{/login}" class="btn btn-outline-info my-2 my-sm-0 btn-sm"
                    type="submit">로그인
            </button>
            <button sec:authorize="isAnonymous()" th:href="@{/register}"
                    class="btn btn-outline-info my-2 my-sm-0 btn-sm"
                    type="submit">회원가입
            </button>
        </form>
    </div>
</nav>
</html>