<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
><!--/*  layout 선언부 추가    */-->
<head>
    <th:block th:replace="~{admin/fragments/head :: headFragment}"></th:block>
</head>
<body>
<div class="wrapper" style="position:fixed;">
    <div style="position: sticky;top:0; bottom: 0">
        <div th:replace="~{admin/fragments/nav-tab :: navFragment}"></div>
    </div>
    <div class="container">
        <div class="content" layout:fragment="content">
        
        </div>
    </div>
</div>
<script th:inline="javascript">
    let defaultUrl = [[${session.defaultUrl}]];
    getSiteId(defaultUrl);
    
    let menuList = [[${session.menuList}]];
    
    document.addEventListener("DOMContentLoaded", function () {
        sideBar.setting();
    });

    
// 메뉴 정보 공통화 할 일 있으면 사용
//  let selectUrl = window.location.pathname.replace(/\/[^/]+$/, '') + "/**";;
// 	let selectMenu = menuList.find((item) => {return item.menuUrl === selectUrl});
//  $("#menuNm").html(selectMenu.menuName);
    
</script>
</body>
</html>