<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
><!--/*  layout 선언부 추가    */-->
<head>

    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <th:block th:replace="~{admin/fragments/head :: headFragment}"></th:block>
</head>
<body>
<div class="wrapper">
    <div th:replace="~{admin/fragments/nav-tab :: navFragment}"></div>
    <div class="container">
        <div class="content" layout:fragment="content"></div>
    </div>
</div>

</body>
<script th:src="@{/js/functions.js}"></script>
<script th:inline="javascript">
    let defaultUrl = [[${session.defaultUrl}]];
    getSiteId(defaultUrl);
</script>
</html>