<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<div th:fragment="modal(title, choice, type)">
    <div th:attr="onclick=|backgroundCancel(event, '${type}Modal')|" onclick="" class="simpleModalOverlay"
         th:id="${type}+Modal">
        <div class="simpleModalWindow">
            <p th:text="${title}">
            </p>
            <div>
                <button onclick="resultChange('action')" th:text="${choice}"></button>
                <button onclick="resultChange('cancel')" th:text="취소"></button>
            </div>

        </div>
        <script th:inline="javascript">
            function resultChange(value) {
                const result = document.getElementById("modalResult")
                result.value = value
                result.dispatchEvent(new Event("change"))
            }

            /**
             *
             * @param event{Event}
             */
            function backgroundCancel(event, id) {
                event.stopPropagation();
                if (event.target == document.getElementById(id)) {
                    resultChange("cancel")
                }
            }
        </script>
    </div>
</div>