<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:id="sidebar" th:fragment="navFragment" th:class="nav-tab">
    <div th:class="logo">
        <a th:class="wide" th:href="@{/admin}">ADMIN</a>
        <div th:class="btnWrapper">
            <button
                    th:id="toggleBtnId" th:class="toggleBtn" th:type="button"
                    onclick="sideBar.toggleSidebar()"
            ><i class="fa-solid fa-angles-left"></i>
            </button>
        </div>
    </div>
    <ul onmouseenter="sideBar.open()"
        onmouseleave="sideBar.close()">
        <!-- todo 로컬호스트 적힌 부분 범용으로 변경하기 -->
        <li th:class="nav-list">
            <a th:class="nav-link"
               th:classappend="${request.getRequestURL().toString().split('localhost')[1] == '/admin/dashboard' ? 'active' : null}"
               th:href="@{/admin/dashboard}">
                <i class="fa-solid fa-house"></i>
                <span th:class="wide">홈</span>
            </a></li>
        <li th:class="nav-list" th:each="menu : ${session.menuList}" th:if="${menu.isAdmin()}">
            <a th:class="nav-link"
               th:classappend="${request.getRequestURL().toString().split('localhost')[1] == menu.getMenuUrl().split('/\*')[0] ? 'active' : null}"
               th:href="|${menu.getMenuUrl().split('\*')[0]}${menu.getMenuDefaultUrl()}|">
                <th:block th:if="${!menu.getIconHtml().equals(null)}" th:utext="${menu.getIconHtml()}"></th:block>
                <span th:class="wide" th:text="${menu.menuName}"></span>
            </a>
        </li>
    </ul>
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function () {
            sideBar.setting();
        });
    </script>
</nav>
</html>